generate (1).json
{
  "name": "generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        96
      ],
      "id": "7c61679b-b88f-4b1d-99cf-3ddbf44e553b",
      "name": "generate",
      "webhookId": "165f3819-ee0f-4538-a555-ca5a1981efc0"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (id, created_at)\nVALUES ({{ $('Edit Fields').item.json.user_id }}, NOW())\nON CONFLICT (id) DO NOTHING;\n\nUPDATE users \nSET free_generations = free_generations - 1 \nWHERE id = {{ $('Edit Fields').item.json.user_id }} \nAND free_generations > 0;\n\nINSERT INTO generations (user_id, style, file_path, created_at)\nVALUES (\n  {{ $('Edit Fields').item.json.user_id }},\n  '{{ $('Edit Fields').item.json.style }}',\n  '{{ $json.images[0].url }}',\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        96
      ],
      "id": "c9726a4e-1056-4458-9a34-3b687ca49ee7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "UirFNzTALE9CZEcQ",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"image_url\": \"{{ $('HTTP Request1').item.json.images[0].url }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        96
      ],
      "id": "1e96d7cd-d952-4a8d-9262-986aa9cd20c7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a6e3592-a8cd-4e13-8ea5-6014525a6ae7",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "ada6641f-0088-43ac-adee-59b15b4dab25",
              "name": "image_url",
              "value": "={{ $json.body.image_url }}",
              "type": "string"
            },
            {
              "id": "f5ad206d-9010-4d94-a07f-1d5c006defc8",
              "name": "style",
              "value": "={{ $json.body.style }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        96
      ],
      "id": "f89b9469-e7f3-4ed1-a8ae-f28c15b3ac62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev/image-to-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"prompt\": \"{{ $json.style }} style portrait, high quality, detailed, vibrant colors\",\n  \"strength\": 0.75,\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 7.5,\n  \"image_size\": \"square_hd\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        96
      ],
      "id": "6ca6654a-ab58-4350-82f3-48e31b3ea1e0",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xld9EGbKWutHcBSw",
          "name": "Header Auth account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "generate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5b2d79ef-fb00-4b11-b5c8-f2ed80f6d092",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2abc997e182ea751959311c76b8fe2d370186234a45abd4291bcd8a9f9b7634"
  },
  "id": "3iZY--GtxZ556edSgZQuB",
  "tags": []
}