generate.json
{
  "name": "generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        96
      ],
      "id": "7c61679b-b88f-4b1d-99cf-3ddbf44e553b",
      "name": "generate",
      "webhookId": "165f3819-ee0f-4538-a555-ca5a1981efc0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a6e3592-a8cd-4e13-8ea5-6014525a6ae7",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "ada6641f-0088-43ac-adee-59b15b4dab25",
              "name": "image_url",
              "value": "={{ $json.body.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "f5ad206d-9010-4d94-a07f-1d5c006defc8",
              "name": "style",
              "value": "={{ $json.body.style }}",
              "type": "string"
            },
            {
              "id": "e4b1c5f7-2d8a-4b2c-9f1e-5a6b7c8d9e0f",
              "name": "creativity",
              "value": "={{ typeof $json.body.creativity !== 'undefined' ? $json.body.creativity : 50 }}",
              "type": "number"
            },
            {
              "id": "photo_base64_field",
              "name": "photo_base64",
              "value": "={{ $json.body.photo_base64 }}",
              "type": "string"
            },
            {
              "id": "debug_has_image_url",
              "name": "debug_has_image_url",
              "value": "={{ !!$json.body.image_url }}",
              "type": "boolean"
            },
            {
              "id": "debug_has_photo_base64",
              "name": "debug_has_photo_base64",
              "value": "={{ !!$json.body.photo_base64 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        96
      ],
      "id": "f89b9469-e7f3-4ed1-a8ae-f28c15b3ac62",
      "name": "Extract Input Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ String($json.image_url || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "defaultOutput": "output_2",
        "outputs": 2
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        96
      ],
      "id": "if-1",
      "name": "Check Image URL vs Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev/image-to-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"prompt\": \"{{ $json.style }} style portrait, high quality, detailed, vibrant colors\",\n  \"strength\": {{ 0.25 + ($json.creativity / 100) * 0.65 }},\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": {{ 2 + ($json.creativity / 100) * 5.5 }},\n  \"image_size\": \"square_hd\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        96
      ],
      "id": "6ca6654a-ab58-4350-82f3-48e31b3ea1e0",
      "name": "HTTP Request - Image URL Path",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xld9EGbKWutHcBSw",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev/image-to-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"data:image/jpeg;base64,{{ $json.photo_base64 }}\",\n  \"prompt\": \"{{ $json.style }} style portrait, high quality, detailed, vibrant colors\",\n  \"strength\": {{ 0.25 + ($json.creativity / 100) * 0.65 }},\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": {{ 2 + ($json.creativity / 100) * 5.5 }},\n  \"image_size\": \"square_hd\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        240
      ],
      "id": "c99dfefd-43c8-4615-8f8d-3d436409cf0c",
      "name": "HTTP Request - Base64 Path",
      "credentials": {
        "httpHeaderAuth": {
          "id": "J0NbgjLORDTfPR35",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (id, created_at)\nVALUES ({{ $node[\"generate\"].json.body.user_id }}, NOW())\nON CONFLICT (id) DO NOTHING;\n\nUPDATE users \nSET free_generations = free_generations - 1 \nWHERE id = {{ $node[\"generate\"].json.body.user_id }} \nAND free_generations > 0;\n\nINSERT INTO generations (user_id, style, file_path, created_at)\nVALUES (\n  {{ $node[\"generate\"].json.body.user_id }},\n  '{{ $node[\"generate\"].json.body.style }}',\n  '{{ $json.images[0].url }}',\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        96
      ],
      "id": "c9726a4e-1056-4458-9a34-3b687ca49ee7",
      "name": "Execute SQL Query - Both Paths",
      "credentials": {
        "postgres": {
          "id": "UirFNzTALE9CZEcQ",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"image_url\": \"{{ $json.images[0].url }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -176,
        96
      ],
      "id": "1e96d7cd-d952-4a8d-9262-986aa9cd20c7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "generate": {
      "main": [
        [
          {
            "node": "Extract Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input Data": {
      "main": [
        [
          {
            "node": "Check Image URL vs Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image URL vs Base64": {
      "main": [
        [
          {
            "node": "HTTP Request - Image URL Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Base64 Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Image URL Path": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Base64 Path": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Execute SQL Query - Both Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "68f2cf38-0d49-4757-9969-d3e09b80d1aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2abc997e182ea751959311c76b8fe2d370186234a45abd4291bcd8a9f9b7634"
  },
  "id": "3iZY--GtxZ556edSgZQuB",
  "tags": []
}
