n8n_payment_handler.json
{"name": "payment-handler", "nodes": [{"parameters": {"httpMethod": "POST", "path": "telegram-payment", "responseMode": "lastNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "pay-webhook", "name": "Telegram Update", "webhookId": "telegram-payment-001"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "pre-checkout-check", "leftValue": "={{ $json.body.pre_checkout_query }}", "rightValue": "", "operator": {"type": "object", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "defaultOutput": "output_2", "outputs": 2}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [200, 0], "id": "pay-if", "name": "Is Pre-Checkout?"}, {"parameters": {"method": "POST", "url": "https://api.telegram.org/bot6939723174:AAE59AdG4oigMzBmWQQmxbUiidm562T_Fnc/answerPreCheckoutQuery", "sendBody": true, "specifyBody": "json", "jsonBody": "={\"pre_checkout_query_id\": \"{{ $json.body.pre_checkout_query.id }}\", \"ok\": true}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [400, -100], "id": "pay-answer-precheckout", "name": "Answer Pre-Checkout"}, {"parameters": {"jsCode": "const body = $input.item.json.body;\nconst payment = body.message?.successful_payment;\nif (!payment) return [{json: {error: 'no payment'}}];\nconst payload = JSON.parse(payment.invoice_payload);\nreturn [{json: {user_id: payload.user_id, stars: payload.stars, total_amount: payment.total_amount, telegram_payment_charge_id: payment.telegram_payment_charge_id}}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 100], "id": "pay-parse", "name": "Parse Payment"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE users SET star_balance = star_balance + {{ $json.stars }}, total_paid = total_paid + {{ $json.stars }} WHERE id = {{ $json.user_id }}; SELECT star_balance FROM users WHERE id = {{ $json.user_id }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [600, 100], "id": "pay-sql", "name": "Update Balance", "credentials": {"postgres": {"id": "UirFNzTALE9CZEcQ", "name": "avatar_bot"}}}], "connections": {"Telegram Update": {"main": [[{"node": "Is Pre-Checkout?", "type": "main", "index": 0}]]}, "Is Pre-Checkout?": {"main": [[{"node": "Answer Pre-Checkout", "type": "main", "index": 0}], [{"node": "Parse Payment", "type": "main", "index": 0}]]}, "Parse Payment": {"main": [[{"node": "Update Balance", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}