n8n_userstatus_payload.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "user-status", "responseMode": "responseNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [-416, -192], "id": "9601f2f0-0d9f-4cef-abe3-a9c1641bd075", "name": "user-status", "webhookId": "a4d902e4-eb42-4723-a297-cebca2ef1b0d"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO users (id, username, created_at)\nVALUES ({{ $json.body.user_id }}, COALESCE(NULLIF('{{ $json.body.username }}', 'undefined'), NULLIF('{{ $json.body.username }}', ''), NULL), NOW())\nON CONFLICT (id) DO NOTHING;\n\nSELECT \n  id,\n  free_generations,\n  total_paid,\n  CASE \n    WHEN DATE(created_at) < CURRENT_DATE \n    THEN 3 \n    ELSE free_generations \n  END as free_left\nFROM users \nWHERE id = {{ $json.body.user_id }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-208, -192], "id": "46339b6c-daff-42a5-90da-8e30d52d6ba0", "name": "Execute a SQL query", "credentials": {"postgres": {"id": "UirFNzTALE9CZEcQ", "name": "avatar_bot"}}}, {"parameters": {"respondWith": "allIncomingItems", "options": {"responseCode": 200}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [16, -192], "id": "17963390-efd6-419e-8eba-24ce1fa605af", "name": "Respond to Webhook"}], "connections": {"user-status": {"main": [[{"node": "Execute a SQL query", "type": "main", "index": 0}]]}, "Execute a SQL query": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "availableInMCP": false}, "name": "user-status"}