n8n_create_invoice.json
{"name": "create-invoice", "nodes": [{"parameters": {"httpMethod": "POST", "path": "create-invoice", "responseMode": "responseNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "inv-webhook", "name": "create-invoice", "webhookId": "create-invoice-001"}, {"parameters": {"method": "POST", "url": "https://api.telegram.org/bot6939723174:AAE59AdG4oigMzBmWQQmxbUiidm562T_Fnc/createInvoiceLink", "sendBody": true, "specifyBody": "json", "jsonBody": "={\"title\": \"Пополнение баланса\", \"description\": \"Пополнение на {{ $json.body.star_count }} ⭐\", \"payload\": \"{\\\"user_id\\\": {{ $json.body.user_id }}, \\\"stars\\\": {{ $json.body.star_count }}}\", \"currency\": \"XTR\", \"prices\": [{\"label\": \"Stars\", \"amount\": {{ $json.body.star_count }}}]}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [200, 0], "id": "inv-http", "name": "Create Invoice Link"}, {"parameters": {"respondWith": "json", "responseBody": "={\"invoice_link\": \"{{ $json.result }}\"}", "options": {}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [400, 0], "id": "inv-respond", "name": "Respond to Webhook"}], "connections": {"create-invoice": {"main": [[{"node": "Create Invoice Link", "type": "main", "index": 0}]]}, "Create Invoice Link": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}