avatar-bot-deploy/workflows/admin-broadcast-history.json
{
  "name": "[MINIAPP] admin-broadcast-history",
  "nodes": [
    {
      "id": "wh-bch",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "admin-broadcast-history",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "admin-broadcast-history"
    },
    {
      "id": "validate-bch",
      "name": "Validate Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nif (body.password !== '123hors456') {\n  return [{json: { error: 'access_denied', message: 'Invalid password', _error: true }}];\n}\nreturn [{json: { ok: true }}];"
      }
    },
    {
      "id": "if-err-bch",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [730, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-err-bch",
              "leftValue": "={{ $json._error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-err-bch",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error, message: $json.message }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "get-history-bch",
      "name": "Get History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 200],
      "credentials": {
        "postgres": {
          "id": "UirFNzTALE9CZEcQ",
          "name": "avatar_bot"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, status, filter_type, sent_count, failed_count, blocked_count, scheduled_at, completed_at, created_at, LEFT(message_text, 50) AS message_preview FROM broadcasts ORDER BY created_at DESC LIMIT 5;",
        "options": {}
      }
    },
    {
      "id": "respond-ok-bch",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 200],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate Password", "type": "main", "index": 0}]]
    },
    "Validate Password": {
      "main": [[{"node": "Has Error?", "type": "main", "index": 0}]]
    },
    "Has Error?": {
      "main": [
        [{"node": "Respond Error", "type": "main", "index": 0}],
        [{"node": "Get History", "type": "main", "index": 0}]
      ]
    },
    "Get History": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
