avatar-bot-deploy/workflows/generate-multi.json
{
  "name": "[MINIAPP] generate-multi",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-multi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-multi",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, star_balance FROM users WHERE id = {{ $json.body.user_id }}",
        "options": {}
      },
      "id": "cb-multi",
      "name": "Check Balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1024,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.star_balance }}",
              "rightValue": "10",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-multi",
      "name": "Has Balance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"insufficient_balance\", \"required\": 10, \"current\": {{ $json.star_balance }} }",
        "options": {}
      },
      "id": "rn-multi",
      "name": "Respond No Balance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET star_balance = star_balance - 10 WHERE id = {{ $('Webhook').first().json.body.user_id }}",
        "options": {}
      },
      "id": "ds-multi",
      "name": "Deduct Stars",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7008,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\", \"sent\": true}",
        "options": {}
      },
      "id": "ro-multi",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7264,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"generation_failed\", \"message\": \"AI generation failed. Please try again.\"}",
        "options": {}
      },
      "id": "resp-err-FXRCds",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3104,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const poll = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst userId = webhookData.user_id;\n\ntry {\n  const resultJson = poll.data?.resultJson;\n  if (!resultJson) {\n    return [{ json: { status: 'error', error_msg: 'No resultJson in response', user_id: userId } }];\n  }\n  const parsed = typeof resultJson === 'string' ? JSON.parse(resultJson) : resultJson;\n  const imageUrl = parsed.resultUrls?.[0] || parsed.result_url || null;\n  if (!imageUrl) {\n    return [{ json: { status: 'error', error_msg: 'No image URL in result', user_id: userId } }];\n  }\n  return [{ json: { status: 'ok', image_url: imageUrl, user_id: userId } }];\n} catch (e) {\n  return [{ json: { status: 'error', error_msg: 'Parse error: ' + e.message, user_id: userId } }];\n}"
      },
      "id": "check-FXRCds",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        208
      ],
      "disabled": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "status_check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "isok-FXRCds",
      "name": "Is OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4672,
        208
      ],
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"gpt-4.1-nano\", \"messages\": [{\"role\": \"user\", \"content\": \"Translate the following text to English for an AI image generation model. Keep it as a descriptive prompt. Return ONLY the English translation, nothing else:\\n\\n\" + $(\"Webhook\").first().json.body.prompt }], \"max_tokens\": 500, \"temperature\": 0.3 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "translate_FXRC",
      "name": "Translate Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        288
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "P0RwIIFegl7Qbpo2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt)\nVALUES (\n  '{{ $(\"Webhook\").first().json.body.user_id }}',\n  'multi_photo',\n  'image',\n  '{{ $(\"Check Result\").first().json.image_url }}',\n  '{{ $(\"Webhook\").first().json.body.prompt || \"\" }}'\n)",
        "options": {}
      },
      "id": "save_FXRCds",
      "name": "Save Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6752,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "disabled": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT thread_id FROM user_topics WHERE user_id = '{{ $(\"Webhook\").first().json.body.user_id }}' AND mode = 'multi_photo'",
        "options": {}
      },
      "name": "Get User Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4928,
        208
      ],
      "alwaysOutputData": true,
      "id": "eb13b0a1-e836-46a9-ad97-cc933bd4f39e",
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "disabled": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $(\"Prepare Send\").first().json.user_id }}', '{{ $(\"Prepare Send\").first().json.mode }}', {{ $(\"Create Topic\").first().json.result.message_thread_id || $(\"Prepare Send\").first().json.thread_id || 0 }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
        "options": {}
      },
      "name": "Save Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5968,
        400
      ],
      "id": "fbf1c942-5f66-4dd8-bf9a-6e1ddbf53274",
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        704
      ],
      "id": "f4a2b051-8db7-4cc4-8ee4-f644c19a2952",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nconst checkResult = $('Check Result').first().json;\nconst prompt = $('Webhook').first().json.body.prompt || '';\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst caption = '\\u2728 \\u041c\\u0443\\u043b\\u044c\\u0442\\u0438 \\u0424\\u043e\\u0442\\u043e' + (prompt ? '\\n\\n\\ud83d\\udcdd Prompt: ' + prompt.substring(0, 800) : '');\n\nreturn [{ json: {\n  user_id: String(userId),\n  mode: 'multi_photo',\n  thread_id: threadId,\n  needs_topic: !threadId,\n  icon_color: 13338331,\n  caption: caption,\n  media_url: checkResult.image_url\n} }];"
      },
      "name": "Prepare Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        208
      ],
      "id": "a98fcc29-0add-419c-8ba2-311a6f97b70d",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"✨ Мульти Фото\", icon_color: $json.icon_color }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Create Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5712,
        400
      ],
      "executeOnce": true,
      "id": "81d069b5-3445-4940-8969-6c77a7c36ce9",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({chat_id: String($json.user_id), photo: $json.media_url, caption: $json.caption}, $json.thread_id ? {message_thread_id: $json.thread_id} : {})) }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6480,
        208
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "id": "c0a94aca-fd31-49be-8418-3574851558cc",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "needs_topic_check",
              "leftValue": "={{ $json.needs_topic ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Need Topic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        208
      ],
      "id": "f8ec83f0-84a4-4ca2-b580-3732ed356ac5",
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "// Pass through Prepare Send data with thread_id from newly created topic\nconst prepData = $(\"Prepare Send\").first().json;\nlet newThreadId = null;\ntry {\n  const createResult = $(\"Create Topic\").first().json;\n  newThreadId = createResult.result ? createResult.result.message_thread_id : null;\n} catch(e) {}\n\nreturn [{ json: {\n  ...prepData,\n  thread_id: newThreadId || prepData.thread_id\n} }];"
      },
      "name": "Finalize Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        400
      ],
      "id": "4e8215b7-bf01-4b1f-a6db-eee023d51520",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst translated = $('Translate Prompt').first().json.choices[0].message.content;\nconst imageUrls = $('Collect URLs').first().json.image_urls || body.image_urls || [];\nreturn [{ json: {\n  model: 'nano-banana-pro',\n  input: {\n    image_input: imageUrls,\n    prompt: translated,\n    aspect_ratio: '1:1',\n    resolution: '2K',\n    output_format: 'jpg'\n  }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        304
      ],
      "id": "kie-prep-mp",
      "name": "Prepare Kie Request",
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        304
      ],
      "id": "kie-create-mp",
      "name": "Create Kie Task",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tc-mp",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3104,
        304
      ],
      "id": "kie-created-mp",
      "name": "Task Created?",
      "disabled": false
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        304
      ],
      "id": "kie-wait-mp",
      "name": "Wait",
      "disabled": false
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        304
      ],
      "id": "kie-poll-mp",
      "name": "Poll Kie Status",
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-mp",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4144,
        304
      ],
      "id": "kie-success-mp",
      "name": "Is Success?",
      "disabled": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-mp",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        400
      ],
      "id": "kie-failed-mp",
      "name": "Is Failed?",
      "disabled": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\n\n// Time-based timeout\nconst staticData = $getWorkflowStaticData('global');\nconst execKey = 'poll_start_' + $execution.id;\nif (!staticData[execKey]) staticData[execKey] = Date.now();\nconst startTime = staticData[execKey];\nconst elapsedSec = Math.floor((Date.now() - startTime) / 1000);\nconst MAX_SEC = 180;\n\nfor (const key of Object.keys(staticData)) {\n  if (key.startsWith('poll_start_') && key !== execKey) delete staticData[key];\n}\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || elapsedSec >= MAX_SEC) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: Math.ceil(elapsedSec / 10), _elapsed_sec: elapsedSec } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        304
      ],
      "id": "eval-poll-FXRCdsL4",
      "name": "Evaluate Poll",
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        704
      ],
      "id": "err-api-FXRCdsL4",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        704
      ],
      "id": "err-poll-FXRCdsL4",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ],
      "id": "validate-FXRCdsL4",
      "name": "Validate initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json._auth_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        768,
        304
      ],
      "id": "auth-if-FXRCdsL4",
      "name": "Auth Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        80
      ],
      "id": "unauth-FXRCdsL4",
      "name": "Respond Unauthorized"
    },
    {
      "parameters": {
        "jsCode": "// Обработка загрузки нескольких фото на S3\nconst body = $('Webhook').first().json.body;\n\n// Если переданы base64 фото\nif (body.photos_base64 && body.photos_base64.length > 0) {\n  const items = [];\n  for (let i = 0; i < body.photos_base64.length; i++) {\n    const photo = body.photos_base64[i];\n    const base64Data = typeof photo === 'string' ? photo : photo.base64;\n    const mimeType = (typeof photo === 'object' ? photo.mime_type : null) || 'image/jpeg';\n    const base64Clean = base64Data.includes(',') ? base64Data.split(',')[1] : base64Data;\n\n    const timestamp = Date.now();\n    const randomStr = Math.random().toString(36).substring(2, 8);\n    const ext = mimeType.includes('png') ? 'png' : 'jpg';\n    const s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_' + i + '.' + ext;\n    const s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n    const buffer = Buffer.from(base64Clean, 'base64');\n    const binary = await this.helpers.prepareBinaryData(buffer, 'photo_' + i + '.' + ext, mimeType);\n\n    items.push({\n      json: { image_url: s3Url, s3_filename: s3Filename, photo_index: i },\n      binary: { data: binary }\n    });\n  }\n  return items;\n}\n\n// Если переданы готовые URL (обратная совместимость)\nif (body.image_urls && body.image_urls.length > 0) {\n  return [{ json: { image_urls: body.image_urls, needs_upload: false } }];\n}\n\nthrow new Error('No photos provided');"
      },
      "id": "upload-photos-multi-1771786813055",
      "name": "Upload Photos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        32
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "=avatar-bot-generations",
        "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
        "additionalFields": {
          "acl": "public-read"
        }
      },
      "id": "s3-upload-multi-1771786813055",
      "name": "S3 Upload Multi",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2128,
        -112
      ],
      "credentials": {
        "s3": {
          "id": "{{S3_CRED_ID}}",
          "name": "Timeweb S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Собираем все URL загруженных фото в один item\n// ВАЖНО: берём URL из Upload Photos, а не из $input (S3 Upload возвращает только {success: true})\nconst uploadItems = $('Upload Photos').all();\nconst body = $('Webhook').first().json.body;\n\n// Если URL были переданы напрямую (обратная совместимость)\nif (uploadItems.length === 1 && uploadItems[0].json.image_urls) {\n  return [{ json: { ...($('Webhook').first().json), image_urls: uploadItems[0].json.image_urls } }];\n}\n\n// Собираем URL из загруженных на S3\nconst imageUrls = uploadItems.map(item => item.json.image_url).filter(Boolean);\n\nreturn [{ json: { ...($('Webhook').first().json), image_urls: imageUrls } }];"
      },
      "id": "collect-urls-multi-1771786813055",
      "name": "Collect URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nreturn [{json: { actual_cost: 10, ref_user_id: userId, ref_mode: 'multi_photo' }}];"
      },
      "id": "0ea84654-b4db-42c1-968b-11f06cc494cd",
      "name": "Calc Actual Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7264,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-paid-1",
              "leftValue": "={{ $json.actual_cost }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e397d879-9879-4ceb-a4a2-885955ede649",
      "name": "Was Paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7520,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
        "options": {}
      },
      "id": "73951e7c-a058-4ae0-9f15-176a02199448",
      "name": "Apply Referral Commission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7792,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.parent_id }}"
            },
            {
              "name": "text",
              "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9d667bc8-46e5-4afd-ac97-1dd00f875d40",
      "name": "Notify Referral Earnings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8048,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst translated = $('Translate Prompt').first().json.choices[0].message.content;\nconst photos = body.photos_base64 || [];\n\nconst parts = [{ text: 'Generate a new creative image based on these photos and the following prompt. Output ONLY the generated image, no text.\\n\\nPrompt: ' + translated }];\nfor (const photo of photos) {\n  parts.push({\n    inline_data: {\n      mime_type: photo.mime_type || 'image/jpeg',\n      data: photo.base64\n    }\n  });\n}\n\nreturn [{json: {\n  user_id: body.user_id,\n  contents: [{parts}],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE'],\n    maxOutputTokens: 8192\n  }\n}}];"
      },
      "id": "ee507b70-c182-41b9-adf0-98dd021de3e7",
      "name": "Prepare Gemini Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: $json.contents, generationConfig: $json.generationConfig }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a7f77fe9-624d-4c2f-8035-5e94e7238da8",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "65701876-df46-4f00-b676-0c3fb8a72825",
      "name": "Build Binary Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        112
      ],
      "disabled": false
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "Has Balance?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Balance?": {
      "main": [
        [
          {
            "node": "Translate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Stars": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Is OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OK?": {
      "main": [
        [
          {
            "node": "Get User Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generation": {
      "main": [
        [
          {
            "node": "Deduct Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Topic": {
      "main": [
        [
          {
            "node": "Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Topic": {
      "main": [
        [
          {
            "node": "Finalize Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Send": {
      "main": [
        [
          {
            "node": "Need Topic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Topic": {
      "main": [
        [
          {
            "node": "Save Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Save Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Topic?": {
      "main": [
        [
          {
            "node": "Create Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Binary Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Kie Request": {
      "main": [
        [
          {
            "node": "Create Kie Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kie Task": {
      "main": [
        [
          {
            "node": "Task Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Created?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll Kie Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Kie Status": {
      "main": [
        [
          {
            "node": "Evaluate Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Poll": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate initData": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photos": {
      "main": [
        [
          {
            "node": "S3 Upload Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Multi": {
      "main": [
        [
          {
            "node": "Collect URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Actual Cost": {
      "main": [
        [
          {
            "node": "Was Paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Paid?": {
      "main": [
        [
          {
            "node": "Apply Referral Commission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Referral Commission": {
      "main": [
        [
          {
            "node": "Notify Referral Earnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Request": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Binary Photo": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Send": {
      "main": [
        [
          {
            "node": "Build Binary Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Prompt": {
      "main": [
        [
          {
            "node": "Upload Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect URLs": {
      "main": [
        [
          {
            "node": "Prepare Kie Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Calc Actual Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "activeVersionId": "92c50e7a-7676-4b59-9822-2f44d6097ffc",
  "versionCounter": 387,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T03:52:43.381Z",
      "createdAt": "2026-02-11T03:52:43.381Z",
      "role": "workflow:owner",
      "workflowId": "FXRCdsL4ULHevtbz",
      "projectId": "UnFAqkOZkFc92cC9",
      "project": {
        "updatedAt": "2026-01-19T08:59:40.920Z",
        "createdAt": "2026-01-19T07:34:37.219Z",
        "id": "UnFAqkOZkFc92cC9",
        "name": "Роман Махметов <2356592g@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-25T18:09:51.491Z",
    "createdAt": "2026-02-25T18:09:51.491Z",
    "versionId": "92c50e7a-7676-4b59-9822-2f44d6097ffc",
    "workflowId": "FXRCdsL4ULHevtbz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-multi",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wh-multi",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "generate-multi",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT id, star_balance FROM users WHERE id = {{ $json.body.user_id }}",
          "options": {}
        },
        "id": "cb-multi",
        "name": "Check Balance",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1024,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.star_balance }}",
                "rightValue": "10",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-multi",
        "name": "Has Balance?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1280,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\": \"insufficient_balance\", \"required\": 10, \"current\": {{ $json.star_balance }} }",
          "options": {}
        },
        "id": "rn-multi",
        "name": "Respond No Balance",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1280,
          512
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE users SET star_balance = star_balance - 10 WHERE id = {{ $('Webhook').first().json.body.user_id }}",
          "options": {}
        },
        "id": "ds-multi",
        "name": "Deduct Stars",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7008,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\": \"ok\", \"sent\": true}",
          "options": {}
        },
        "id": "ro-multi",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          7264,
          208
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\": \"generation_failed\", \"message\": \"AI generation failed. Please try again.\"}",
          "options": {}
        },
        "id": "resp-err-FXRCds",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3104,
          704
        ]
      },
      {
        "parameters": {
          "jsCode": "const poll = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst userId = webhookData.user_id;\n\ntry {\n  const resultJson = poll.data?.resultJson;\n  if (!resultJson) {\n    return [{ json: { status: 'error', error_msg: 'No resultJson in response', user_id: userId } }];\n  }\n  const parsed = typeof resultJson === 'string' ? JSON.parse(resultJson) : resultJson;\n  const imageUrl = parsed.resultUrls?.[0] || parsed.result_url || null;\n  if (!imageUrl) {\n    return [{ json: { status: 'error', error_msg: 'No image URL in result', user_id: userId } }];\n  }\n  return [{ json: { status: 'ok', image_url: imageUrl, user_id: userId } }];\n} catch (e) {\n  return [{ json: { status: 'error', error_msg: 'Parse error: ' + e.message, user_id: userId } }];\n}"
        },
        "id": "check-FXRCds",
        "name": "Check Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4400,
          208
        ],
        "disabled": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "status_check",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "isok-FXRCds",
        "name": "Is OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4672,
          208
        ],
        "disabled": false
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \"model\": \"gpt-4.1-nano\", \"messages\": [{\"role\": \"user\", \"content\": \"Translate the following text to English for an AI image generation model. Keep it as a descriptive prompt. Return ONLY the English translation, nothing else:\\n\\n\" + $(\"Webhook\").first().json.body.prompt }], \"max_tokens\": 500, \"temperature\": 0.3 }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "translate_FXRC",
        "name": "Translate Prompt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1488,
          288
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1000,
        "credentials": {
          "openAiApi": {
            "id": "P0RwIIFegl7Qbpo2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt)\nVALUES (\n  '{{ $(\"Webhook\").first().json.body.user_id }}',\n  'multi_photo',\n  'image',\n  '{{ $(\"Check Result\").first().json.image_url }}',\n  '{{ $(\"Webhook\").first().json.body.prompt || \"\" }}'\n)",
          "options": {}
        },
        "id": "save_FXRCds",
        "name": "Save Generation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          6752,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "disabled": false
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT thread_id FROM user_topics WHERE user_id = '{{ $(\"Webhook\").first().json.body.user_id }}' AND mode = 'multi_photo'",
          "options": {}
        },
        "name": "Get User Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4928,
          208
        ],
        "alwaysOutputData": true,
        "id": "eb13b0a1-e836-46a9-ad97-cc933bd4f39e",
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "disabled": false
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $(\"Prepare Send\").first().json.user_id }}', '{{ $(\"Prepare Send\").first().json.mode }}', {{ $(\"Create Topic\").first().json.result.message_thread_id || $(\"Prepare Send\").first().json.thread_id || 0 }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
          "options": {}
        },
        "name": "Save Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          5968,
          400
        ],
        "id": "fbf1c942-5f66-4dd8-bf9a-6e1ddbf53274",
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4928,
          704
        ],
        "id": "f4a2b051-8db7-4cc4-8ee4-f644c19a2952",
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nconst checkResult = $('Check Result').first().json;\nconst prompt = $('Webhook').first().json.body.prompt || '';\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst caption = '\\u2728 \\u041c\\u0443\\u043b\\u044c\\u0442\\u0438 \\u0424\\u043e\\u0442\\u043e' + (prompt ? '\\n\\n\\ud83d\\udcdd Prompt: ' + prompt.substring(0, 800) : '');\n\nreturn [{ json: {\n  user_id: String(userId),\n  mode: 'multi_photo',\n  thread_id: threadId,\n  needs_topic: !threadId,\n  icon_color: 13338331,\n  caption: caption,\n  media_url: checkResult.image_url\n} }];"
        },
        "name": "Prepare Send",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5184,
          208
        ],
        "id": "a98fcc29-0add-419c-8ba2-311a6f97b70d",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"✨ Мульти Фото\", icon_color: $json.icon_color }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "name": "Create Topic",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5712,
          400
        ],
        "executeOnce": true,
        "id": "81d069b5-3445-4940-8969-6c77a7c36ce9",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({chat_id: String($json.user_id), photo: $json.media_url, caption: $json.caption}, $json.thread_id ? {message_thread_id: $json.thread_id} : {})) }}",
          "options": {
            "timeout": 30000
          }
        },
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6480,
          208
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "id": "c0a94aca-fd31-49be-8418-3574851558cc",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "needs_topic_check",
                "leftValue": "={{ $json.needs_topic ? 1 : 0 }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Need Topic?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5440,
          208
        ],
        "id": "f8ec83f0-84a4-4ca2-b580-3732ed356ac5",
        "disabled": false
      },
      {
        "parameters": {
          "jsCode": "// Pass through Prepare Send data with thread_id from newly created topic\nconst prepData = $(\"Prepare Send\").first().json;\nlet newThreadId = null;\ntry {\n  const createResult = $(\"Create Topic\").first().json;\n  newThreadId = createResult.result ? createResult.result.message_thread_id : null;\n} catch(e) {}\n\nreturn [{ json: {\n  ...prepData,\n  thread_id: newThreadId || prepData.thread_id\n} }];"
        },
        "name": "Finalize Send",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6224,
          400
        ],
        "id": "4e8215b7-bf01-4b1f-a6db-eee023d51520",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const body = $('Webhook').first().json.body;\nconst translated = $('Translate Prompt').first().json.choices[0].message.content;\nconst imageUrls = $('Collect URLs').first().json.image_urls || body.image_urls || [];\nreturn [{ json: {\n  model: 'nano-banana-pro',\n  input: {\n    image_input: imageUrls,\n    prompt: translated,\n    aspect_ratio: '1:1',\n    resolution: '2K',\n    output_format: 'jpg'\n  }\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          304
        ],
        "id": "kie-prep-mp",
        "name": "Prepare Kie Request",
        "disabled": false
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2848,
          304
        ],
        "id": "kie-create-mp",
        "name": "Create Kie Task",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "tc-mp",
                "leftValue": "={{ $json.code }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3104,
          304
        ],
        "id": "kie-created-mp",
        "name": "Task Created?",
        "disabled": false
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3360,
          304
        ],
        "id": "kie-wait-mp",
        "name": "Wait",
        "webhookId": "803ffa31-9e91-4e83-8177-db7f788b9f8b",
        "disabled": false
      },
      {
        "parameters": {
          "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3632,
          304
        ],
        "id": "kie-poll-mp",
        "name": "Poll Kie Status",
        "disabled": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-mp",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4144,
          304
        ],
        "id": "kie-success-mp",
        "name": "Is Success?",
        "disabled": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "if-mp",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4400,
          400
        ],
        "id": "kie-failed-mp",
        "name": "Is Failed?",
        "disabled": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\n\n// Time-based timeout\nconst staticData = $getWorkflowStaticData('global');\nconst execKey = 'poll_start_' + $execution.id;\nif (!staticData[execKey]) staticData[execKey] = Date.now();\nconst startTime = staticData[execKey];\nconst elapsedSec = Math.floor((Date.now() - startTime) / 1000);\nconst MAX_SEC = 180;\n\nfor (const key of Object.keys(staticData)) {\n  if (key.startsWith('poll_start_') && key !== execKey) delete staticData[key];\n}\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || elapsedSec >= MAX_SEC) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: Math.ceil(elapsedSec / 10), _elapsed_sec: elapsedSec } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3888,
          304
        ],
        "id": "eval-poll-FXRCdsL4",
        "name": "Evaluate Poll",
        "disabled": false
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          704
        ],
        "id": "err-api-FXRCdsL4",
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'multi_photo';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger Poll",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4672,
          704
        ],
        "id": "err-poll-FXRCdsL4",
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          304
        ],
        "id": "validate-FXRCdsL4",
        "name": "Validate initData"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "auth-check",
                "leftValue": "={{ $json._auth_valid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          768,
          304
        ],
        "id": "auth-if-FXRCdsL4",
        "name": "Auth Valid?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
          "options": {
            "responseCode": 403
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          768,
          80
        ],
        "id": "unauth-FXRCdsL4",
        "name": "Respond Unauthorized"
      },
      {
        "parameters": {
          "jsCode": "// Обработка загрузки нескольких фото на S3\nconst body = $('Webhook').first().json.body;\n\n// Если переданы base64 фото\nif (body.photos_base64 && body.photos_base64.length > 0) {\n  const items = [];\n  for (let i = 0; i < body.photos_base64.length; i++) {\n    const photo = body.photos_base64[i];\n    const base64Data = typeof photo === 'string' ? photo : photo.base64;\n    const mimeType = (typeof photo === 'object' ? photo.mime_type : null) || 'image/jpeg';\n    const base64Clean = base64Data.includes(',') ? base64Data.split(',')[1] : base64Data;\n\n    const timestamp = Date.now();\n    const randomStr = Math.random().toString(36).substring(2, 8);\n    const ext = mimeType.includes('png') ? 'png' : 'jpg';\n    const s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_' + i + '.' + ext;\n    const s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n    const buffer = Buffer.from(base64Clean, 'base64');\n    const binary = await this.helpers.prepareBinaryData(buffer, 'photo_' + i + '.' + ext, mimeType);\n\n    items.push({\n      json: { image_url: s3Url, s3_filename: s3Filename, photo_index: i },\n      binary: { data: binary }\n    });\n  }\n  return items;\n}\n\n// Если переданы готовые URL (обратная совместимость)\nif (body.image_urls && body.image_urls.length > 0) {\n  return [{ json: { image_urls: body.image_urls, needs_upload: false } }];\n}\n\nthrow new Error('No photos provided');"
        },
        "id": "upload-photos-multi-1771786813055",
        "name": "Upload Photos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          32
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "=avatar-bot-generations",
          "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
          "additionalFields": {
            "acl": "public-read"
          }
        },
        "id": "s3-upload-multi-1771786813055",
        "name": "S3 Upload Multi",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          2128,
          -112
        ],
        "credentials": {
          "s3": {
            "id": "{{S3_CRED_ID}}",
            "name": "Timeweb S3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Собираем все URL загруженных фото в один item\n// ВАЖНО: берём URL из Upload Photos, а не из $input (S3 Upload возвращает только {success: true})\nconst uploadItems = $('Upload Photos').all();\nconst body = $('Webhook').first().json.body;\n\n// Если URL были переданы напрямую (обратная совместимость)\nif (uploadItems.length === 1 && uploadItems[0].json.image_urls) {\n  return [{ json: { ...($('Webhook').first().json), image_urls: uploadItems[0].json.image_urls } }];\n}\n\n// Собираем URL из загруженных на S3\nconst imageUrls = uploadItems.map(item => item.json.image_url).filter(Boolean);\n\nreturn [{ json: { ...($('Webhook').first().json), image_urls: imageUrls } }];"
        },
        "id": "collect-urls-multi-1771786813055",
        "name": "Collect URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2256,
          -256
        ]
      },
      {
        "parameters": {
          "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nreturn [{json: { actual_cost: 10, ref_user_id: userId, ref_mode: 'multi_photo' }}];"
        },
        "id": "0ea84654-b4db-42c1-968b-11f06cc494cd",
        "name": "Calc Actual Cost",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7264,
          512
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-paid-1",
                "leftValue": "={{ $json.actual_cost }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e397d879-9879-4ceb-a4a2-885955ede649",
        "name": "Was Paid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          7520,
          512
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
          "options": {}
        },
        "id": "73951e7c-a058-4ae0-9f15-176a02199448",
        "name": "Apply Referral Commission",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7792,
          512
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $json.parent_id }}"
              },
              {
                "name": "text",
                "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "9d667bc8-46e5-4afd-ac97-1dd00f875d40",
        "name": "Notify Referral Earnings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8048,
          512
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const body = $('Webhook').first().json.body;\nconst translated = $('Translate Prompt').first().json.choices[0].message.content;\nconst photos = body.photos_base64 || [];\n\nconst parts = [{ text: 'Generate a new creative image based on these photos and the following prompt. Output ONLY the generated image, no text.\\n\\nPrompt: ' + translated }];\nfor (const photo of photos) {\n  parts.push({\n    inline_data: {\n      mime_type: photo.mime_type || 'image/jpeg',\n      data: photo.base64\n    }\n  });\n}\n\nreturn [{json: {\n  user_id: body.user_id,\n  contents: [{parts}],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE'],\n    maxOutputTokens: 8192\n  }\n}}];"
        },
        "id": "ee507b70-c182-41b9-adf0-98dd021de3e7",
        "name": "Prepare Gemini Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          -128
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ contents: $json.contents, generationConfig: $json.generationConfig }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "a7f77fe9-624d-4c2f-8035-5e94e7238da8",
        "name": "Call Gemini API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2848,
          112
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];"
        },
        "id": "65701876-df46-4f00-b676-0c3fb8a72825",
        "name": "Build Binary Photo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6224,
          112
        ],
        "disabled": false
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate initData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Balance": {
        "main": [
          [
            {
              "node": "Has Balance?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Balance?": {
        "main": [
          [
            {
              "node": "Translate Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond No Balance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduct Stars": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Result": {
        "main": [
          [
            {
              "node": "Is OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is OK?": {
        "main": [
          [
            {
              "node": "Get User Topic",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Generation": {
        "main": [
          [
            {
              "node": "Deduct Stars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Topic": {
        "main": [
          [
            {
              "node": "Prepare Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Topic": {
        "main": [
          [
            {
              "node": "Finalize Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Send": {
        "main": [
          [
            {
              "node": "Need Topic?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Topic": {
        "main": [
          [
            {
              "node": "Save Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Telegram": {
        "main": [
          [
            {
              "node": "Save Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Need Topic?": {
        "main": [
          [
            {
              "node": "Create Topic",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Binary Photo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Kie Request": {
        "main": [
          [
            {
              "node": "Create Kie Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Kie Task": {
        "main": [
          [
            {
              "node": "Task Created?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Created?": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Poll Kie Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Kie Status": {
        "main": [
          [
            {
              "node": "Evaluate Poll",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Success?": {
        "main": [
          [
            {
              "node": "Check Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Failed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Failed?": {
        "main": [
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger Poll",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Poll": {
        "main": [
          [
            {
              "node": "Is Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate initData": {
        "main": [
          [
            {
              "node": "Auth Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Valid?": {
        "main": [
          [
            {
              "node": "Check Balance",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Photos": {
        "main": [
          [
            {
              "node": "S3 Upload Multi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "S3 Upload Multi": {
        "main": [
          [
            {
              "node": "Collect URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calc Actual Cost": {
        "main": [
          [
            {
              "node": "Was Paid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was Paid?": {
        "main": [
          [
            {
              "node": "Apply Referral Commission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Referral Commission": {
        "main": [
          [
            {
              "node": "Notify Referral Earnings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gemini Request": {
        "main": [
          [
            {
              "node": "Call Gemini API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Gemini API": {
        "main": [
          [
            {
              "node": "Check Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Binary Photo": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize Send": {
        "main": [
          [
            {
              "node": "Build Binary Photo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate Prompt": {
        "main": [
          [
            {
              "node": "Upload Photos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect URLs": {
        "main": [
          [
            {
              "node": "Prepare Kie Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond OK": {
        "main": [
          [
            {
              "node": "Calc Actual Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Роман Махметов",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-25T18:09:51.557Z",
        "id": 2362,
        "workflowId": "FXRCdsL4ULHevtbz",
        "versionId": "92c50e7a-7676-4b59-9822-2f44d6097ffc",
        "event": "deactivated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      },
      {
        "createdAt": "2026-02-25T18:09:51.592Z",
        "id": 2363,
        "workflowId": "FXRCdsL4ULHevtbz",
        "versionId": "92c50e7a-7676-4b59-9822-2f44d6097ffc",
        "event": "activated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    ]
  }
}