avatar-bot-deploy/workflows/generate-style-transfer.json
{
  "name": "[MINIAPP] generate-style-transfer",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-style-transfer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-style",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, star_balance FROM users WHERE id = {{ $json.body.user_id }}",
        "options": {}
      },
      "id": "cb-style",
      "name": "Check Balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-bal-cond",
              "leftValue": "={{ $json.has_balance }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-style",
      "name": "Has Balance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"insufficient_balance\", \"required\": 7, \"current\": {{ $json.star_balance }} }",
        "options": {}
      },
      "id": "rn-style",
      "name": "Respond No Balance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Kie.ai request (style transfer) — flux-2/flex-image-to-image\n// Supports explicit image references: \"image 1\", \"image 2\"\n// User uploads: [their_photo (image 1), style_reference (image 2)]\nconst body = $('Webhook').first().json.body;\nconst imageUrls = $json.image_urls || body.image_urls || [];\nconst resolution = body.resolution || '2K';\nconst userPrompt = body.prompt || '';\nconst userId = body.user_id;\n\nif (imageUrls.length === 0) {\n  throw new Error('No image_urls available for style transfer');\n}\n\n// Cap resolution at 2K (flux-2/flex max)\nconst cappedResolution = resolution === '4K' ? '2K' : resolution;\n\n// Build prompt with explicit image number references\nconst stylePrompt = 'Take the person from image 1 and preserve their EXACT face, facial features, identity, bone structure, skin tone, hair style, beard, and all distinguishing characteristics. ' +\n  'Apply ONLY the visual style, artistic aesthetics, lighting, color palette, composition, background, clothing style, and overall mood from image 2. ' +\n  'The output must show the EXACT SAME person from image 1, just restyled to match the artistic look of image 2. ' +\n  'Do NOT use the face or identity from image 2.';\n\nconst fullPrompt = stylePrompt + (userPrompt ? '\\n\\nAdditional style instructions: ' + userPrompt : '');\n\nreturn [{\n  json: {\n    model: 'flux-2/flex-image-to-image',\n    input: {\n      input_urls: imageUrls,\n      prompt: fullPrompt,\n      aspect_ratio: '1:1',\n      resolution: cappedResolution\n    },\n    _user_id: userId,\n    _resolution: cappedResolution,\n    _required_stars: $('Calculate Cost').first().json.required_stars\n  }\n}];"
      },
      "id": "prep-kie",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: $json.model, input: $json.input}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-kie",
      "name": "Create Kie Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "task-check",
              "leftValue": "={{ $json.code }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-created",
      "name": "Task Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "wait-kie",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "poll-kie",
      "name": "Poll Kie Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4140,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "fail-check",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fail",
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nlet imageUrl = '';\ntry {\n  const rj = JSON.parse(data.data.resultJson);\n  imageUrl = rj.resultUrls?.[0] || '';\n} catch(e) {}\nreturn [{ json: { status: imageUrl ? 'ok' : 'error', image_url: imageUrl } }];"
      },
      "id": "check-HbqrBm",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "status_check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "isok-HbqrBm",
      "name": "Is OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4660,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT thread_id FROM user_topics WHERE user_id = '{{ $('Webhook').first().json.body.user_id }}' AND mode = 'style_transfer'",
        "options": {}
      },
      "id": "get-topic",
      "name": "Get User Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4920,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst imageUrl = $('Rehost Result').first().json.s3_url;\nconst prompt = body.prompt || '';\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst caption = '\\u{1FA84} По референсу' + (prompt ? '\\n\\n\\u{1F4DD} Prompt: ' + prompt.substring(0, 800) : '');\n\nreturn [{\n  json: {\n    user_id: String(body.user_id),\n    mode: 'style_transfer',\n    thread_id: threadId,\n    needs_topic: !threadId,\n    media_url: imageUrl,\n    caption: caption,\n    icon_color: 7322096\n  }\n}];"
      },
      "id": "prep-send",
      "name": "Prepare Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5180,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "topic-check",
              "leftValue": "={{ $json.thread_id || 0 }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-topic",
      "name": "Has Topic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"🪄 По референсу\", icon_color: $json.icon_color }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-topic",
      "name": "Create Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5700,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $('Prepare Send').first().json.user_id }}', '{{ $('Prepare Send').first().json.mode }}', {{ $json.result.message_thread_id }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
        "options": {}
      },
      "id": "save-topic",
      "name": "Save Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5960,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const created = $('Create Topic').first().json;\nconst newThreadId = created.result?.message_thread_id || 0;\nconst sendData = $('Prepare Send').first().json;\nreturn [{ json: { ...sendData, thread_id: newThreadId } }];"
      },
      "id": "set-thread",
      "name": "Set New Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6220,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({chat_id: String($json.user_id), photo: $json.media_url, caption: $json.caption}, $json.thread_id ? {message_thread_id: $json.thread_id} : {})) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3e9a0ef7-c8b7-48da-b135-f916b1c571a5",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6480,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt) VALUES ('{{ $(\"Webhook\").first().json.body.user_id }}', 'style_transfer', 'image', '{{ $(\"Check Result\").first().json.image_url }}', '{{ $(\"Webhook\").first().json.body.prompt || \"\" }}')",
        "options": {}
      },
      "id": "save_HbqrBm",
      "name": "Save Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6740,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET star_balance = star_balance - {{ $('Calculate Cost').first().json.required_stars }} WHERE id = {{ $('Webhook').first().json.body.user_id }} AND star_balance >= {{ $('Calculate Cost').first().json.required_stars }};",
        "options": {}
      },
      "id": "ds-style",
      "name": "Deduct Stars",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"sent\": true}",
        "options": {}
      },
      "id": "ro-style",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7260,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"generation_failed\", \"message\": \"AI generation failed. Please try again.\"}",
        "options": {}
      },
      "id": "resp-err-HbqrBm",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3100,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\nconst staticData = $getWorkflowStaticData('global');\nconst execId = $execution.id;\nconst key = 'poll_' + execId;\nstaticData[key] = (staticData[key] || 0) + 1;\nconst pollCount = staticData[key];\nconst MAX_POLLS = 36; // 36 x 10s = 6 min max\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || pollCount >= MAX_POLLS) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: pollCount } }];"
      },
      "id": "eval-poll",
      "name": "Evaluate Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst imageUrls = body.image_urls || [];\nconst resolution = body.resolution || '2K';\nconst bucket = imageUrls.length <= 2 ? '2' : '3';\nconst costs = { '2_2K': 30, '2_4K': 40, '3_2K': 30, '3_4K': 40 };\nconst requiredStars = costs[`${bucket}_${resolution}`] || 30;\nconst currentBalance = $('Check Balance').first().json.star_balance;\nreturn [{ json: { star_balance: currentBalance, required_stars: requiredStars, has_balance: currentBalance >= requiredStars } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "id": "calc-cost-001",
      "name": "Calculate Cost"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        700
      ],
      "id": "err-api-HbqrBmst",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4660,
        700
      ],
      "id": "err-poll-HbqrBmst",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4920,
        700
      ],
      "id": "err-result-HbqrBmst",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "validate-HbqrBmst",
      "name": "Validate initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json._auth_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "id": "auth-if-HbqrBmst",
      "name": "Auth Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        80
      ],
      "id": "unauth-HbqrBmst",
      "name": "Respond Unauthorized"
    },
    {
      "parameters": {
        "jsCode": "// Upload multiple photos from base64 to S3\nconst body = $('Webhook').first().json.body;\nconst userId = body.user_id;\n\n// If URLs already provided (old path)\nif (body.image_urls && body.image_urls.length > 0) {\n  return [{ json: { image_urls: body.image_urls, needs_upload: false } }];\n}\n\n// New path: photos_base64 array\nconst photosBase64 = body.photos_base64;\nif (!photosBase64 || photosBase64.length === 0) {\n  throw new Error('No image_urls or photos_base64 in request');\n}\n\nconst items = [];\nfor (let i = 0; i < photosBase64.length; i++) {\n  const photo = photosBase64[i];\n  const base64Data = typeof photo === 'string' ? photo : photo.base64;\n  const mimeType = (typeof photo === 'object' ? photo.mime_type : null) || 'image/jpeg';\n  const base64Clean = base64Data.includes(',') ? base64Data.split(',')[1] : base64Data;\n\n  const timestamp = Date.now();\n  const randomStr = Math.random().toString(36).substring(2, 8);\n  const ext = mimeType.includes('png') ? 'png' : 'jpg';\n  const s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_' + i + '.' + ext;\n  const s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n  const buffer = Buffer.from(base64Clean, 'base64');\n  const binary = await this.helpers.prepareBinaryData(buffer, 'photo_' + i + '.' + ext, mimeType);\n\n  items.push({\n    json: { image_url: s3Url, s3_filename: s3Filename, photo_index: i },\n    binary: { data: binary }\n  });\n}\nreturn items;\n"
      },
      "id": "upload-1771823179428-mar3yn",
      "name": "Upload Photos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "=avatar-bot-generations",
        "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
        "additionalFields": {
          "acl": "public-read"
        }
      },
      "id": "s3-1771823179428-o78je7",
      "name": "S3 Upload Style",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2060,
        300
      ],
      "credentials": {
        "s3": {
          "id": "{{S3_CRED_ID}}",
          "name": "Timeweb S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect S3 URLs after upload - only pass needed fields\nconst uploadItems = $('Upload Photos').all();\nconst body = $('Webhook').first().json.body;\n\nconst imageUrls = [];\nfor (const item of uploadItems) {\n  if (item.json.s3_url) {\n    imageUrls.push(item.json.s3_url);\n  } else if (item.json.image_url) {\n    imageUrls.push(item.json.image_url);\n  }\n}\n\n// Fallback to body URLs\nif (imageUrls.length === 0 && body.image_urls) {\n  imageUrls.push(...body.image_urls);\n}\n\nreturn [{ json: {\n  image_urls: imageUrls,\n  user_id: body.user_id,\n  chat_id: body.chat_id,\n  initData: body.initData,\n  prompt: body.prompt || '',\n  resolution: body.resolution || '2K'\n} }];"
      },
      "id": "collect-1771823179428-pmvwkx",
      "name": "Collect URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        300
      ]
    },
    {
      "id": "f1d9f917-2b3f-4242-8dbd-5badef886355",
      "name": "Calc Actual Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7260,
        500
      ],
      "parameters": {
        "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nconst cost = $('Calculate Cost').first().json.required_stars;\nreturn [{json: { actual_cost: cost, ref_user_id: userId, ref_mode: 'style_transfer' }}];"
      }
    },
    {
      "id": "4a5b621d-a69e-4edd-b4ab-039c572c23ea",
      "name": "Was Paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7520,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-paid-1",
              "leftValue": "={{ $json.actual_cost }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5285e59b-86c3-4620-ac40-7f84d2cc2e2a",
      "name": "Apply Referral Commission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7780,
        500
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "25931158-c7c5-4712-a9fc-ff741bd4111b",
      "name": "Notify Referral Earnings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8040,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.parent_id }}"
            },
            {
              "name": "text",
              "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rehost-result-st",
      "name": "Rehost Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4790,
        100
      ],
      "parameters": {
        "jsCode": "const imageUrl = $('Check Result').first().json.image_url;\n\n// Generate S3 filename\nconst ts = Date.now();\nconst rand = Math.random().toString(36).substring(2, 8);\nconst ext = imageUrl.toLowerCase().includes('.png') ? 'png' : 'jpg';\nconst s3Filename = 'results/' + ts + '_' + rand + '.' + ext;\nconst s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n// Download image\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: imageUrl,\n  encoding: 'arraybuffer',\n  json: false,\n});\n\nconst buffer = Buffer.isBuffer(response) ? response : Buffer.from(response);\nconst mimeType = ext === 'png' ? 'image/png' : 'image/jpeg';\nconst binary = await this.helpers.prepareBinaryData(buffer, 'result.' + ext, mimeType);\n\nreturn [{\n  json: { s3_filename: s3Filename, s3_url: s3Url },\n  binary: { data: binary }\n}];"
      }
    },
    {
      "id": "s3-result-st",
      "name": "S3 Upload Result",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        5050,
        100
      ],
      "parameters": {
        "operation": "upload",
        "bucketName": "=avatar-bot-generations",
        "fileName": "={{ $json.s3_filename || 'results/temp.jpg' }}",
        "additionalFields": {
          "acl": "public-read"
        }
      },
      "credentials": {
        "s3": {
          "id": "{{S3_CRED_ID}}",
          "name": "Timeweb S3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "Calculate Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Balance?": {
      "main": [
        [
          {
            "node": "Upload Photos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Create Kie Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kie Task": {
      "main": [
        [
          {
            "node": "Task Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Created?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll Kie Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Kie Status": {
      "main": [
        [
          {
            "node": "Evaluate Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Is OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OK?": {
      "main": [
        [
          {
            "node": "Rehost Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Topic": {
      "main": [
        [
          {
            "node": "Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Send": {
      "main": [
        [
          {
            "node": "Has Topic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Topic?": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Topic": {
      "main": [
        [
          {
            "node": "Save Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Topic": {
      "main": [
        [
          {
            "node": "Set New Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Thread": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Save Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generation": {
      "main": [
        [
          {
            "node": "Deduct Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Stars": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Poll": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cost": {
      "main": [
        [
          {
            "node": "Has Balance?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate initData": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photos": {
      "main": [
        [
          {
            "node": "S3 Upload Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Style": {
      "main": [
        [
          {
            "node": "Collect URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect URLs": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Actual Cost": {
      "main": [
        [
          {
            "node": "Was Paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Paid?": {
      "main": [
        [
          {
            "node": "Apply Referral Commission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Referral Commission": {
      "main": [
        [
          {
            "node": "Notify Referral Earnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rehost Result": {
      "main": [
        [
          {
            "node": "S3 Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Result": {
      "main": [
        [
          {
            "node": "Get User Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Calc Actual Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "activeVersionId": "9cd38105-544b-48b7-a626-9ebf1995ef27",
  "versionCounter": 407,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T03:53:55.037Z",
      "createdAt": "2026-02-11T03:53:55.037Z",
      "role": "workflow:owner",
      "workflowId": "HbqrBmstlPbz9VxM",
      "projectId": "UnFAqkOZkFc92cC9",
      "project": {
        "updatedAt": "2026-01-19T08:59:40.920Z",
        "createdAt": "2026-01-19T07:34:37.219Z",
        "id": "UnFAqkOZkFc92cC9",
        "name": "Роман Махметов <2356592g@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-25T18:09:58.508Z",
    "createdAt": "2026-02-25T18:09:58.508Z",
    "versionId": "9cd38105-544b-48b7-a626-9ebf1995ef27",
    "workflowId": "HbqrBmstlPbz9VxM",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-style-transfer",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wh-style",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "generate-style-transfer",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, star_balance FROM users WHERE id = {{ $json.body.user_id }}",
          "options": {}
        },
        "id": "cb-style",
        "name": "Check Balance",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1020,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-bal-cond",
                "leftValue": "={{ $json.has_balance }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-style",
        "name": "Has Balance?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1540,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\": \"insufficient_balance\", \"required\": 7, \"current\": {{ $json.star_balance }} }",
          "options": {}
        },
        "id": "rn-style",
        "name": "Respond No Balance",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1540,
          500
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prepare Kie.ai request (style transfer) — flux-2/flex-image-to-image\n// Supports explicit image references: \"image 1\", \"image 2\"\n// User uploads: [their_photo (image 1), style_reference (image 2)]\nconst body = $('Webhook').first().json.body;\nconst imageUrls = $json.image_urls || body.image_urls || [];\nconst resolution = body.resolution || '2K';\nconst userPrompt = body.prompt || '';\nconst userId = body.user_id;\n\nif (imageUrls.length === 0) {\n  throw new Error('No image_urls available for style transfer');\n}\n\n// Cap resolution at 2K (flux-2/flex max)\nconst cappedResolution = resolution === '4K' ? '2K' : resolution;\n\n// Build prompt with explicit image number references\nconst stylePrompt = 'Take the person from image 1 and preserve their EXACT face, facial features, identity, bone structure, skin tone, hair style, beard, and all distinguishing characteristics. ' +\n  'Apply ONLY the visual style, artistic aesthetics, lighting, color palette, composition, background, clothing style, and overall mood from image 2. ' +\n  'The output must show the EXACT SAME person from image 1, just restyled to match the artistic look of image 2. ' +\n  'Do NOT use the face or identity from image 2.';\n\nconst fullPrompt = stylePrompt + (userPrompt ? '\\n\\nAdditional style instructions: ' + userPrompt : '');\n\nreturn [{\n  json: {\n    model: 'flux-2/flex-image-to-image',\n    input: {\n      input_urls: imageUrls,\n      prompt: fullPrompt,\n      aspect_ratio: '1:1',\n      resolution: cappedResolution\n    },\n    _user_id: userId,\n    _resolution: cappedResolution,\n    _required_stars: $('Calculate Cost').first().json.required_stars\n  }\n}];"
        },
        "id": "prep-kie",
        "name": "Prepare Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2580,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model: $json.model, input: $json.input}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "create-kie",
        "name": "Create Kie Task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2840,
          300
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "task-check",
                "leftValue": "={{ $json.code }}",
                "rightValue": "200",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-created",
        "name": "Task Created?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3100,
          300
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "wait-kie",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3360,
          300
        ],
        "webhookId": "1bc61377-10f4-4624-8bca-5eabd9870c9d"
      },
      {
        "parameters": {
          "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "poll-kie",
        "name": "Poll Kie Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3620,
          300
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "success-check",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-success",
        "name": "Is Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4140,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "fail-check",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-fail",
        "name": "Is Failed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4400,
          400
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = items[0].json;\nlet imageUrl = '';\ntry {\n  const rj = JSON.parse(data.data.resultJson);\n  imageUrl = rj.resultUrls?.[0] || '';\n} catch(e) {}\nreturn [{ json: { status: imageUrl ? 'ok' : 'error', image_url: imageUrl } }];"
        },
        "id": "check-HbqrBm",
        "name": "Check Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4400,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "status_check",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "isok-HbqrBm",
        "name": "Is OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4660,
          200
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT thread_id FROM user_topics WHERE user_id = '{{ $('Webhook').first().json.body.user_id }}' AND mode = 'style_transfer'",
          "options": {}
        },
        "id": "get-topic",
        "name": "Get User Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4920,
          200
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $('Webhook').first().json.body;\nconst imageUrl = $('Rehost Result').first().json.s3_url;\nconst prompt = body.prompt || '';\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst caption = '\\u{1FA84} По референсу' + (prompt ? '\\n\\n\\u{1F4DD} Prompt: ' + prompt.substring(0, 800) : '');\n\nreturn [{\n  json: {\n    user_id: String(body.user_id),\n    mode: 'style_transfer',\n    thread_id: threadId,\n    needs_topic: !threadId,\n    media_url: imageUrl,\n    caption: caption,\n    icon_color: 7322096\n  }\n}];"
        },
        "id": "prep-send",
        "name": "Prepare Send",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5180,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "topic-check",
                "leftValue": "={{ $json.thread_id || 0 }}",
                "rightValue": "0",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-has-topic",
        "name": "Has Topic?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5440,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"🪄 По референсу\", icon_color: $json.icon_color }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "create-topic",
        "name": "Create Topic",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5700,
          400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $('Prepare Send').first().json.user_id }}', '{{ $('Prepare Send').first().json.mode }}', {{ $json.result.message_thread_id }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
          "options": {}
        },
        "id": "save-topic",
        "name": "Save Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          5960,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const created = $('Create Topic').first().json;\nconst newThreadId = created.result?.message_thread_id || 0;\nconst sendData = $('Prepare Send').first().json;\nreturn [{ json: { ...sendData, thread_id: newThreadId } }];"
        },
        "id": "set-thread",
        "name": "Set New Thread",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6220,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({chat_id: String($json.user_id), photo: $json.media_url, caption: $json.caption}, $json.thread_id ? {message_thread_id: $json.thread_id} : {})) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "3e9a0ef7-c8b7-48da-b135-f916b1c571a5",
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6480,
          200
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt) VALUES ('{{ $(\"Webhook\").first().json.body.user_id }}', 'style_transfer', 'image', '{{ $(\"Check Result\").first().json.image_url }}', '{{ $(\"Webhook\").first().json.body.prompt || \"\" }}')",
          "options": {}
        },
        "id": "save_HbqrBm",
        "name": "Save Generation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          6740,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users SET star_balance = star_balance - {{ $('Calculate Cost').first().json.required_stars }} WHERE id = {{ $('Webhook').first().json.body.user_id }} AND star_balance >= {{ $('Calculate Cost').first().json.required_stars }};",
          "options": {}
        },
        "id": "ds-style",
        "name": "Deduct Stars",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7000,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"sent\": true}",
          "options": {}
        },
        "id": "ro-style",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          7260,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\": \"generation_failed\", \"message\": \"AI generation failed. Please try again.\"}",
          "options": {}
        },
        "id": "resp-err-HbqrBm",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3100,
          700
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\nconst staticData = $getWorkflowStaticData('global');\nconst execId = $execution.id;\nconst key = 'poll_' + execId;\nstaticData[key] = (staticData[key] || 0) + 1;\nconst pollCount = staticData[key];\nconst MAX_POLLS = 36; // 36 x 10s = 6 min max\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || pollCount >= MAX_POLLS) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: pollCount } }];"
        },
        "id": "eval-poll",
        "name": "Evaluate Poll",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3880,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $('Webhook').first().json.body;\nconst imageUrls = body.image_urls || [];\nconst resolution = body.resolution || '2K';\nconst bucket = imageUrls.length <= 2 ? '2' : '3';\nconst costs = { '2_2K': 30, '2_4K': 40, '3_2K': 30, '3_4K': 40 };\nconst requiredStars = costs[`${bucket}_${resolution}`] || 30;\nconst currentBalance = $('Check Balance').first().json.star_balance;\nreturn [{ json: { star_balance: currentBalance, required_stars: requiredStars, has_balance: currentBalance >= requiredStars } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1280,
          300
        ],
        "id": "calc-cost-001",
        "name": "Calculate Cost"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          700
        ],
        "id": "err-api-HbqrBmst",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger Poll",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4660,
          700
        ],
        "id": "err-poll-HbqrBmst",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'style_transfer';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4920,
          700
        ],
        "id": "err-result-HbqrBmst",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          300
        ],
        "id": "validate-HbqrBmst",
        "name": "Validate initData"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "auth-check",
                "leftValue": "={{ $json._auth_valid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          760,
          300
        ],
        "id": "auth-if-HbqrBmst",
        "name": "Auth Valid?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
          "options": {
            "responseCode": 403
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          760,
          80
        ],
        "id": "unauth-HbqrBmst",
        "name": "Respond Unauthorized"
      },
      {
        "parameters": {
          "jsCode": "// Upload multiple photos from base64 to S3\nconst body = $('Webhook').first().json.body;\nconst userId = body.user_id;\n\n// If URLs already provided (old path)\nif (body.image_urls && body.image_urls.length > 0) {\n  return [{ json: { image_urls: body.image_urls, needs_upload: false } }];\n}\n\n// New path: photos_base64 array\nconst photosBase64 = body.photos_base64;\nif (!photosBase64 || photosBase64.length === 0) {\n  throw new Error('No image_urls or photos_base64 in request');\n}\n\nconst items = [];\nfor (let i = 0; i < photosBase64.length; i++) {\n  const photo = photosBase64[i];\n  const base64Data = typeof photo === 'string' ? photo : photo.base64;\n  const mimeType = (typeof photo === 'object' ? photo.mime_type : null) || 'image/jpeg';\n  const base64Clean = base64Data.includes(',') ? base64Data.split(',')[1] : base64Data;\n\n  const timestamp = Date.now();\n  const randomStr = Math.random().toString(36).substring(2, 8);\n  const ext = mimeType.includes('png') ? 'png' : 'jpg';\n  const s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_' + i + '.' + ext;\n  const s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n  const buffer = Buffer.from(base64Clean, 'base64');\n  const binary = await this.helpers.prepareBinaryData(buffer, 'photo_' + i + '.' + ext, mimeType);\n\n  items.push({\n    json: { image_url: s3Url, s3_filename: s3Filename, photo_index: i },\n    binary: { data: binary }\n  });\n}\nreturn items;\n"
        },
        "id": "upload-1771823179428-mar3yn",
        "name": "Upload Photos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          300
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "=avatar-bot-generations",
          "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
          "additionalFields": {
            "acl": "public-read"
          }
        },
        "id": "s3-1771823179428-o78je7",
        "name": "S3 Upload Style",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          2060,
          300
        ],
        "credentials": {
          "s3": {
            "id": "{{S3_CRED_ID}}",
            "name": "Timeweb S3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Collect S3 URLs after upload - only pass needed fields\nconst uploadItems = $('Upload Photos').all();\nconst body = $('Webhook').first().json.body;\n\nconst imageUrls = [];\nfor (const item of uploadItems) {\n  if (item.json.s3_url) {\n    imageUrls.push(item.json.s3_url);\n  } else if (item.json.image_url) {\n    imageUrls.push(item.json.image_url);\n  }\n}\n\n// Fallback to body URLs\nif (imageUrls.length === 0 && body.image_urls) {\n  imageUrls.push(...body.image_urls);\n}\n\nreturn [{ json: {\n  image_urls: imageUrls,\n  user_id: body.user_id,\n  chat_id: body.chat_id,\n  initData: body.initData,\n  prompt: body.prompt || '',\n  resolution: body.resolution || '2K'\n} }];"
        },
        "id": "collect-1771823179428-pmvwkx",
        "name": "Collect URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2320,
          300
        ]
      },
      {
        "id": "f1d9f917-2b3f-4242-8dbd-5badef886355",
        "name": "Calc Actual Cost",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7260,
          500
        ],
        "parameters": {
          "jsCode": "const userId = $('Webhook').first().json.body.user_id;\nconst cost = $('Calculate Cost').first().json.required_stars;\nreturn [{json: { actual_cost: cost, ref_user_id: userId, ref_mode: 'style_transfer' }}];"
        }
      },
      {
        "id": "4a5b621d-a69e-4edd-b4ab-039c572c23ea",
        "name": "Was Paid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          7520,
          500
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-paid-1",
                "leftValue": "={{ $json.actual_cost }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "5285e59b-86c3-4620-ac40-7f84d2cc2e2a",
        "name": "Apply Referral Commission",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7780,
          500
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "25931158-c7c5-4712-a9fc-ff741bd4111b",
        "name": "Notify Referral Earnings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8040,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $json.parent_id }}"
              },
              {
                "name": "text",
                "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "continueOnFail": true
      },
      {
        "id": "rehost-result-st",
        "name": "Rehost Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4790,
          100
        ],
        "parameters": {
          "jsCode": "const imageUrl = $('Check Result').first().json.image_url;\n\n// Generate S3 filename\nconst ts = Date.now();\nconst rand = Math.random().toString(36).substring(2, 8);\nconst ext = imageUrl.toLowerCase().includes('.png') ? 'png' : 'jpg';\nconst s3Filename = 'results/' + ts + '_' + rand + '.' + ext;\nconst s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\n// Download image\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: imageUrl,\n  encoding: 'arraybuffer',\n  json: false,\n});\n\nconst buffer = Buffer.isBuffer(response) ? response : Buffer.from(response);\nconst mimeType = ext === 'png' ? 'image/png' : 'image/jpeg';\nconst binary = await this.helpers.prepareBinaryData(buffer, 'result.' + ext, mimeType);\n\nreturn [{\n  json: { s3_filename: s3Filename, s3_url: s3Url },\n  binary: { data: binary }\n}];"
        }
      },
      {
        "id": "s3-result-st",
        "name": "S3 Upload Result",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          5050,
          100
        ],
        "parameters": {
          "operation": "upload",
          "bucketName": "=avatar-bot-generations",
          "fileName": "={{ $json.s3_filename || 'results/temp.jpg' }}",
          "additionalFields": {
            "acl": "public-read"
          }
        },
        "credentials": {
          "s3": {
            "id": "{{S3_CRED_ID}}",
            "name": "Timeweb S3"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate initData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Balance": {
        "main": [
          [
            {
              "node": "Calculate Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Balance?": {
        "main": [
          [
            {
              "node": "Upload Photos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond No Balance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Request": {
        "main": [
          [
            {
              "node": "Create Kie Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Kie Task": {
        "main": [
          [
            {
              "node": "Task Created?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Created?": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Poll Kie Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Kie Status": {
        "main": [
          [
            {
              "node": "Evaluate Poll",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Success?": {
        "main": [
          [
            {
              "node": "Check Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Failed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Failed?": {
        "main": [
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger Poll",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Result": {
        "main": [
          [
            {
              "node": "Is OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is OK?": {
        "main": [
          [
            {
              "node": "Rehost Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Topic": {
        "main": [
          [
            {
              "node": "Prepare Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Send": {
        "main": [
          [
            {
              "node": "Has Topic?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Topic?": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Topic": {
        "main": [
          [
            {
              "node": "Save Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Topic": {
        "main": [
          [
            {
              "node": "Set New Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set New Thread": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Telegram": {
        "main": [
          [
            {
              "node": "Save Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Generation": {
        "main": [
          [
            {
              "node": "Deduct Stars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduct Stars": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Poll": {
        "main": [
          [
            {
              "node": "Is Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Cost": {
        "main": [
          [
            {
              "node": "Has Balance?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate initData": {
        "main": [
          [
            {
              "node": "Auth Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Valid?": {
        "main": [
          [
            {
              "node": "Check Balance",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Photos": {
        "main": [
          [
            {
              "node": "S3 Upload Style",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "S3 Upload Style": {
        "main": [
          [
            {
              "node": "Collect URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect URLs": {
        "main": [
          [
            {
              "node": "Prepare Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calc Actual Cost": {
        "main": [
          [
            {
              "node": "Was Paid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was Paid?": {
        "main": [
          [
            {
              "node": "Apply Referral Commission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Referral Commission": {
        "main": [
          [
            {
              "node": "Notify Referral Earnings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rehost Result": {
        "main": [
          [
            {
              "node": "S3 Upload Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "S3 Upload Result": {
        "main": [
          [
            {
              "node": "Get User Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond OK": {
        "main": [
          [
            {
              "node": "Calc Actual Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Роман Махметов",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-25T18:09:58.641Z",
        "id": 2364,
        "workflowId": "HbqrBmstlPbz9VxM",
        "versionId": "9cd38105-544b-48b7-a626-9ebf1995ef27",
        "event": "deactivated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      },
      {
        "createdAt": "2026-02-25T18:09:58.672Z",
        "id": 2365,
        "workflowId": "HbqrBmstlPbz9VxM",
        "versionId": "9cd38105-544b-48b7-a626-9ebf1995ef27",
        "event": "activated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    ]
  }
}