avatar-bot-deploy/workflows/generate-enhance.json
{
  "name": "[MINIAPP] generate-enhance",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-enhance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=\nUPDATE users SET\n  free_stylize = 1, free_remove_bg = 1, free_enhance = 1,\n  free_reset_date = CURRENT_DATE\nWHERE id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND (free_reset_date IS NULL OR free_reset_date < CURRENT_DATE);\n\nSELECT COALESCE(free_enhance, 0) as free_left,\n       COALESCE(star_balance, 0) as star_balance\nFROM users WHERE id = '{{ $('Webhook').item.json.body.user_id }}';",
        "options": {}
      },
      "id": "check-balance-1",
      "name": "Check Balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_bal",
              "leftValue": "={{ $json.free_left > 0 ? 1 : ($json.star_balance >= 8 ? 1 : 0) }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-balance-1",
      "name": "Has Balance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nlet imageUrl = '';\ntry {\n  const rj = JSON.parse(data.data.resultJson);\n  imageUrl = rj.resultUrls?.[0] || '';\n} catch(e) {}\n\nif (!imageUrl) {\n  return [{json: { status: 'error', error: 'generation_failed', error_msg: 'No image in Kie.ai response. State: ' + (data.data?.state || 'unknown'), user_id: webhookData.user_id }}];\n}\n\nreturn [{json: { status: 'ok', image_url: imageUrl, user_id: webhookData.user_id }}];"
      },
      "id": "check-result-1",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4140,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-ok-1",
      "name": "Is OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET\n  free_enhance = CASE WHEN free_enhance > 0 THEN free_enhance - 1 ELSE free_enhance END,\n  star_balance = CASE WHEN free_enhance > 0 THEN star_balance ELSE star_balance - 8 END\nWHERE id = '{{ $(\"Webhook\").first().json.body.user_id }}';",
        "options": {}
      },
      "id": "deduct-stars-1",
      "name": "Deduct Stars",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\", \"sent\": true}",
        "options": {}
      },
      "id": "respond-ok-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7260,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: \"error\", error: $json.failMsg || $json.msg || \"Generation failed\", code: $json.failCode || $json.code || 500 } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-error-1",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4920,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"insufficient_balance\", \"message\": \"Not enough stars\", \"required\": 8}",
        "options": {}
      },
      "id": "respond-no-balance-1",
      "name": "Respond No Balance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt) VALUES ('{{ $(\"Webhook\").first().json.body.user_id }}', 'enhance', 'image', '{{ $(\"Check Result\").first().json.image_url }}', '')",
        "options": {}
      },
      "id": "save_Lfra98",
      "name": "Save Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6740,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT thread_id FROM user_topics WHERE user_id = '{{ $(\"Webhook\").first().json.body.user_id }}' AND mode = 'enhance'",
        "options": {}
      },
      "name": "Get User Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4660,
        200
      ],
      "alwaysOutputData": true,
      "id": "2927294a-167f-46d1-93e6-7d2932896420",
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $(\"Prepare Send\").first().json.user_id }}', '{{ $(\"Prepare Send\").first().json.mode }}', {{ $(\"Create Topic\").first().json.result.message_thread_id || $(\"Prepare Send\").first().json.thread_id || 0 }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
        "options": {}
      },
      "name": "Save Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5700,
        400
      ],
      "id": "df7abb79-0df2-449b-811a-fac272a229f6",
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4660,
        700
      ],
      "id": "a8f6508c-1c42-4943-a0a6-5c93f3a448aa",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userId = $(\"Webhook\").first().json.body.user_id;\nconst mediaUrl = $(\"Check Result\").first().json.image_url;\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst sendBody = {\n  chat_id: String(userId),\n  photo: mediaUrl,\n  caption: '\\u{1F50D} \\u0423\\u043b\\u0443\\u0447\\u0448\\u0435\\u043d\\u0438\\u0435'\n};\nif (threadId) sendBody.message_thread_id = threadId;\n\nreturn [{ json: {\n  user_id: String(userId),\n  mode: 'enhance',\n  thread_id: threadId,\n  needs_topic: !threadId,\n  send_body: JSON.stringify(sendBody),\n  send_method: 'sendPhoto',\n  icon_color: 7322096,\n  caption: '\\u{1F50D} \\u0423\\u043b\\u0443\\u0447\\u0448\\u0435\\u043d\\u0438\\u0435',\n  media_url: mediaUrl\n} }];"
      },
      "name": "Prepare Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4920,
        200
      ],
      "id": "49af242f-9599-434c-9a8f-93a278371b87",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"🔍 Улучшение\", icon_color: $json.icon_color }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Create Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5440,
        400
      ],
      "executeOnce": true,
      "id": "831df9c2-7fea-427e-a66d-444d1c10b9d3",
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "photo",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "message_thread_id",
              "value": "={{ $json.thread_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6220,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "id": "2c0001fa-6349-4136-b553-1e50ab87bbdd",
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "needs_topic_check",
              "leftValue": "={{ $json.needs_topic ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Need Topic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5180,
        200
      ],
      "id": "a59c1226-4d0b-4414-9174-f7d24075928d"
    },
    {
      "parameters": {
        "jsCode": "// Pass through Prepare Send data with thread_id from newly created topic\nconst prepData = $(\"Prepare Send\").first().json;\nlet newThreadId = null;\ntry {\n  const createResult = $(\"Create Topic\").first().json;\n  newThreadId = createResult.result ? createResult.result.message_thread_id : null;\n} catch(e) {}\n\nreturn [{ json: {\n  ...prepData,\n  thread_id: newThreadId || prepData.thread_id\n} }];"
      },
      "name": "Finalize Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5960,
        400
      ],
      "id": "e2690198-c349-48e0-b324-98c577d3105f",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get image_url from Collect URL (S3 URL)\nconst imageUrl = $json.image_url || $('Webhook').first().json.body.image_url;\nreturn [{ json: {\n  model: 'recraft/crisp-upscale',\n  input: {\n    image: imageUrl\n  }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        300
      ],
      "id": "kie-prep-lfra98zyiga0ykmd",
      "name": "Prepare Kie Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        300
      ],
      "id": "kie-create-lfra98zyiga0ykmd",
      "name": "Create Kie Task",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tc-lfra98zyiga0ykmd",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        300
      ],
      "id": "kie-created-lfra98zyiga0ykmd",
      "name": "Task Created?"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3100,
        300
      ],
      "id": "kie-wait-lfra98zyiga0ykmd",
      "name": "Wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        300
      ],
      "id": "kie-poll-lfra98zyiga0ykmd",
      "name": "Poll Kie Status",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-lfra98zyiga0ykmd",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3880,
        300
      ],
      "id": "kie-success-lfra98zyiga0ykmd",
      "name": "Is Success?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-lfra98zyiga0ykmd",
              "leftValue": "={{ $json._poll_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4140,
        500
      ],
      "id": "kie-failed-lfra98zyiga0ykmd",
      "name": "Is Failed?",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\nconst staticData = $getWorkflowStaticData('global');\nconst execId = $execution.id;\nconst key = 'poll_' + execId;\nstaticData[key] = (staticData[key] || 0) + 1;\nconst pollCount = staticData[key];\nconst MAX_POLLS = 18; // 18 x 10s = 3 min max\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || pollCount >= MAX_POLLS) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: pollCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        300
      ],
      "id": "eval-poll-Lfra98zY",
      "name": "Evaluate Poll"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        700
      ],
      "id": "err-api-Lfra98zY",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
      },
      "name": "Error Logger Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        700
      ],
      "id": "err-poll-Lfra98zY",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "validate-Lfra98zY",
      "name": "Validate initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json._auth_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "id": "auth-if-Lfra98zY",
      "name": "Auth Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        80
      ],
      "id": "unauth-Lfra98zY",
      "name": "Respond Unauthorized"
    },
    {
      "parameters": {
        "jsCode": "// Upload single photo from base64 to S3\nconst body = $('Webhook').first().json.body;\nconst photoBase64 = body.photo_base64;\nconst imageUrl = body.image_url;\nconst mimeType = body.mime_type || body.photo_mime_type || 'image/jpeg';\nconst userId = body.user_id;\n\n// If URL already provided (old path), pass through\nif (imageUrl) {\n  return [{ json: { image_url: imageUrl, needs_upload: false, user_id: userId } }];\n}\n\nif (!photoBase64) {\n  throw new Error('No image_url or photo_base64 in request');\n}\n\n// Clean base64\nconst base64Clean = photoBase64.includes(',') ? photoBase64.split(',')[1] : photoBase64;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst ext = mimeType.includes('png') ? 'png' : 'jpg';\nconst s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_photo.' + ext;\nconst s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\nconst buffer = Buffer.from(base64Clean, 'base64');\nconst binary = await this.helpers.prepareBinaryData(buffer, 'photo.' + ext, mimeType);\n\nreturn [{\n  json: { image_url: s3Url, s3_filename: s3Filename, needs_upload: true, user_id: userId },\n  binary: { data: binary }\n}];"
      },
      "id": "upload-1771837777056-236fd8",
      "name": "Upload Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "=avatar-bot-generations",
        "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
        "additionalFields": {
          "acl": "public-read"
        }
      },
      "id": "s3-1771837777056-wdor5f",
      "name": "S3 Upload",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ],
      "credentials": {
        "s3": {
          "id": "{{S3_CRED_ID}}",
          "name": "Timeweb S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect S3 URL after upload - only pass needed fields (no photo_base64!)\nconst uploadItem = $('Upload Photo').first();\nconst body = $('Webhook').first().json.body;\n\nreturn [{ json: {\n  image_url: uploadItem.json.image_url,\n  user_id: body.user_id,\n  chat_id: body.chat_id,\n  initData: body.initData\n} }];"
      },
      "id": "collect-1771837777056-5tu9rr",
      "name": "Collect URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendDocument",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: String($('Prepare Send').first().json.user_id), document: $('Prepare Send').first().json.media_url, caption: $('Prepare Send').first().json.caption + '\\n\\n📄 Файл в полном качестве' }, ($json.result || {}).message_thread_id ? { message_thread_id: ($json.result || {}).message_thread_id } : {})) }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Send Document to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6480,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "id": "b504ee15-1c09-4b63-81a4-692bed80645a",
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "id": "4bcaf12d-6fe5-4287-87a4-3ef6bc669feb",
      "name": "Calc Actual Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7260,
        500
      ],
      "parameters": {
        "jsCode": "const freeLeft = $('Check Balance').first().json.free_left;\nconst actualCost = freeLeft > 0 ? 0 : 8;\nconst userId = $('Webhook').first().json.body.user_id;\nreturn [{json: { actual_cost: actualCost, ref_user_id: userId, ref_mode: 'enhance' }}];"
      }
    },
    {
      "id": "c6bb78a8-9e04-4953-8a3a-a0a91c3e413e",
      "name": "Was Paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7520,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-paid-1",
              "leftValue": "={{ $json.actual_cost }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d15c019b-cccf-4229-99bd-7ed7ec3cea16",
      "name": "Apply Referral Commission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7780,
        500
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "91206b7d-2823-4dd0-ab96-f9d5f7462d88",
      "name": "Notify Referral Earnings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8040,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.parent_id }}"
            },
            {
              "name": "text",
              "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "Has Balance?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Balance?": {
      "main": [
        [
          {
            "node": "Upload Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Is OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OK?": {
      "main": [
        [
          {
            "node": "Get User Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Stars": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generation": {
      "main": [
        [
          {
            "node": "Deduct Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Topic": {
      "main": [
        [
          {
            "node": "Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Topic": {
      "main": [
        [
          {
            "node": "Finalize Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Send": {
      "main": [
        [
          {
            "node": "Need Topic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Topic": {
      "main": [
        [
          {
            "node": "Save Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Send Document to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Topic?": {
      "main": [
        [
          {
            "node": "Create Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Send": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Kie Request": {
      "main": [
        [
          {
            "node": "Create Kie Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kie Task": {
      "main": [
        [
          {
            "node": "Task Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Created?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll Kie Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Kie Status": {
      "main": [
        [
          {
            "node": "Evaluate Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logger Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Poll": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate initData": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photo": {
      "main": [
        [
          {
            "node": "S3 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload": {
      "main": [
        [
          {
            "node": "Collect URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect URL": {
      "main": [
        [
          {
            "node": "Prepare Kie Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Document to Telegram": {
      "main": [
        [
          {
            "node": "Save Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Actual Cost": {
      "main": [
        [
          {
            "node": "Was Paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Paid?": {
      "main": [
        [
          {
            "node": "Apply Referral Commission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Referral Commission": {
      "main": [
        [
          {
            "node": "Notify Referral Earnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Calc Actual Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "activeVersionId": "ab740475-9283-4f59-90c5-d6d0e2e06e9c",
  "versionCounter": 306,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T11:21:02.633Z",
      "createdAt": "2026-02-11T11:21:02.633Z",
      "role": "workflow:owner",
      "workflowId": "Lfra98zYiGA0yKmD",
      "projectId": "UnFAqkOZkFc92cC9",
      "project": {
        "updatedAt": "2026-01-19T08:59:40.920Z",
        "createdAt": "2026-01-19T07:34:37.219Z",
        "id": "UnFAqkOZkFc92cC9",
        "name": "Роман Махметов <2356592g@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-25T18:10:07.478Z",
    "createdAt": "2026-02-25T18:10:07.478Z",
    "versionId": "ab740475-9283-4f59-90c5-d6d0e2e06e9c",
    "workflowId": "Lfra98zYiGA0yKmD",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-enhance",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "generate-enhance",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=\nUPDATE users SET\n  free_stylize = 1, free_remove_bg = 1, free_enhance = 1,\n  free_reset_date = CURRENT_DATE\nWHERE id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND (free_reset_date IS NULL OR free_reset_date < CURRENT_DATE);\n\nSELECT COALESCE(free_enhance, 0) as free_left,\n       COALESCE(star_balance, 0) as star_balance\nFROM users WHERE id = '{{ $('Webhook').item.json.body.user_id }}';",
          "options": {}
        },
        "id": "check-balance-1",
        "name": "Check Balance",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1020,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond_bal",
                "leftValue": "={{ $json.free_left > 0 ? 1 : ($json.star_balance >= 8 ? 1 : 0) }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "has-balance-1",
        "name": "Has Balance?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1280,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nlet imageUrl = '';\ntry {\n  const rj = JSON.parse(data.data.resultJson);\n  imageUrl = rj.resultUrls?.[0] || '';\n} catch(e) {}\n\nif (!imageUrl) {\n  return [{json: { status: 'error', error: 'generation_failed', error_msg: 'No image in Kie.ai response. State: ' + (data.data?.state || 'unknown'), user_id: webhookData.user_id }}];\n}\n\nreturn [{json: { status: 'ok', image_url: imageUrl, user_id: webhookData.user_id }}];"
        },
        "id": "check-result-1",
        "name": "Check Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4140,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond2",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "is-ok-1",
        "name": "Is OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4400,
          200
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE users SET\n  free_enhance = CASE WHEN free_enhance > 0 THEN free_enhance - 1 ELSE free_enhance END,\n  star_balance = CASE WHEN free_enhance > 0 THEN star_balance ELSE star_balance - 8 END\nWHERE id = '{{ $(\"Webhook\").first().json.body.user_id }}';",
          "options": {}
        },
        "id": "deduct-stars-1",
        "name": "Deduct Stars",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7000,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\": \"ok\", \"sent\": true}",
          "options": {}
        },
        "id": "respond-ok-1",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          7260,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: \"error\", error: $json.failMsg || $json.msg || \"Generation failed\", code: $json.failCode || $json.code || 500 } }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-error-1",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4920,
          700
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"error\": \"insufficient_balance\", \"message\": \"Not enough stars\", \"required\": 8}",
          "options": {}
        },
        "id": "respond-no-balance-1",
        "name": "Respond No Balance",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1280,
          80
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO generations (user_id, mode, result_type, result_url, prompt) VALUES ('{{ $(\"Webhook\").first().json.body.user_id }}', 'enhance', 'image', '{{ $(\"Check Result\").first().json.image_url }}', '')",
          "options": {}
        },
        "id": "save_Lfra98",
        "name": "Save Generation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          6740,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT thread_id FROM user_topics WHERE user_id = '{{ $(\"Webhook\").first().json.body.user_id }}' AND mode = 'enhance'",
          "options": {}
        },
        "name": "Get User Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4660,
          200
        ],
        "alwaysOutputData": true,
        "id": "2927294a-167f-46d1-93e6-7d2932896420",
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO user_topics (user_id, mode, thread_id) VALUES ('{{ $(\"Prepare Send\").first().json.user_id }}', '{{ $(\"Prepare Send\").first().json.mode }}', {{ $(\"Create Topic\").first().json.result.message_thread_id || $(\"Prepare Send\").first().json.thread_id || 0 }}) ON CONFLICT (user_id, mode) DO UPDATE SET thread_id = EXCLUDED.thread_id",
          "options": {}
        },
        "name": "Save Topic",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          5700,
          400
        ],
        "id": "df7abb79-0df2-449b-811a-fac272a229f6",
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet errorMsg = 'Unknown error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = input.error_msg || input.error || input.detail || input.message || JSON.stringify(input).substring(0, 300);\n} catch(e) { errorMsg = 'Failed to parse: ' + e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u26a0\\ufe0f Error in ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4660,
          700
        ],
        "id": "a8f6508c-1c42-4943-a0a6-5c93f3a448aa",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const userId = $(\"Webhook\").first().json.body.user_id;\nconst mediaUrl = $(\"Check Result\").first().json.image_url;\nconst topicRows = $('Get User Topic').all();\nlet threadId = null;\nif (topicRows.length > 0 && topicRows[0].json.thread_id) {\n  threadId = topicRows[0].json.thread_id;\n}\n\nconst sendBody = {\n  chat_id: String(userId),\n  photo: mediaUrl,\n  caption: '\\u{1F50D} \\u0423\\u043b\\u0443\\u0447\\u0448\\u0435\\u043d\\u0438\\u0435'\n};\nif (threadId) sendBody.message_thread_id = threadId;\n\nreturn [{ json: {\n  user_id: String(userId),\n  mode: 'enhance',\n  thread_id: threadId,\n  needs_topic: !threadId,\n  send_body: JSON.stringify(sendBody),\n  send_method: 'sendPhoto',\n  icon_color: 7322096,\n  caption: '\\u{1F50D} \\u0423\\u043b\\u0443\\u0447\\u0448\\u0435\\u043d\\u0438\\u0435',\n  media_url: mediaUrl\n} }];"
        },
        "name": "Prepare Send",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4920,
          200
        ],
        "id": "49af242f-9599-434c-9a8f-93a278371b87",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/createForumTopic",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: String($json.user_id), name: \"🔍 Улучшение\", icon_color: $json.icon_color }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "name": "Create Topic",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5440,
          400
        ],
        "executeOnce": true,
        "id": "831df9c2-7fea-427e-a66d-444d1c10b9d3",
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendPhoto",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $json.user_id }}"
              },
              {
                "name": "photo",
                "value": "={{ $json.media_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "message_thread_id",
                "value": "={{ $json.thread_id }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6220,
          200
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "id": "2c0001fa-6349-4136-b553-1e50ab87bbdd",
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "needs_topic_check",
                "leftValue": "={{ $json.needs_topic ? 1 : 0 }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Need Topic?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5180,
          200
        ],
        "id": "a59c1226-4d0b-4414-9174-f7d24075928d"
      },
      {
        "parameters": {
          "jsCode": "// Pass through Prepare Send data with thread_id from newly created topic\nconst prepData = $(\"Prepare Send\").first().json;\nlet newThreadId = null;\ntry {\n  const createResult = $(\"Create Topic\").first().json;\n  newThreadId = createResult.result ? createResult.result.message_thread_id : null;\n} catch(e) {}\n\nreturn [{ json: {\n  ...prepData,\n  thread_id: newThreadId || prepData.thread_id\n} }];"
        },
        "name": "Finalize Send",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5960,
          400
        ],
        "id": "e2690198-c349-48e0-b324-98c577d3105f",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Get image_url from Collect URL (S3 URL)\nconst imageUrl = $json.image_url || $('Webhook').first().json.body.image_url;\nreturn [{ json: {\n  model: 'recraft/crisp-upscale',\n  input: {\n    image: imageUrl\n  }\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2320,
          300
        ],
        "id": "kie-prep-lfra98zyiga0ykmd",
        "name": "Prepare Kie Request"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2580,
          300
        ],
        "id": "kie-create-lfra98zyiga0ykmd",
        "name": "Create Kie Task",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "tc-lfra98zyiga0ykmd",
                "leftValue": "={{ $json.code }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2840,
          300
        ],
        "id": "kie-created-lfra98zyiga0ykmd",
        "name": "Task Created?"
      },
      {
        "parameters": {
          "amount": 5,
          "unit": "seconds"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3100,
          300
        ],
        "id": "kie-wait-lfra98zyiga0ykmd",
        "name": "Wait",
        "webhookId": "dd7cf8cd-ef1e-438e-8833-9a90e058b893"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Kie Task').first().json.data.taskId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 3488c4a7497efbdaa035822971c57e0a"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3360,
          300
        ],
        "id": "kie-poll-lfra98zyiga0ykmd",
        "name": "Poll Kie Status",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-lfra98zyiga0ykmd",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3880,
          300
        ],
        "id": "kie-success-lfra98zyiga0ykmd",
        "name": "Is Success?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "if-lfra98zyiga0ykmd",
                "leftValue": "={{ $json._poll_status }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4140,
          500
        ],
        "id": "kie-failed-lfra98zyiga0ykmd",
        "name": "Is Failed?",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = items[0].json;\nconst state = data.data?.state || 'unknown';\nconst staticData = $getWorkflowStaticData('global');\nconst execId = $execution.id;\nconst key = 'poll_' + execId;\nstaticData[key] = (staticData[key] || 0) + 1;\nconst pollCount = staticData[key];\nconst MAX_POLLS = 18; // 18 x 10s = 3 min max\n\nlet status = 'continue';\nif (state === 'success') status = 'success';\nelse if (state === 'fail' || pollCount >= MAX_POLLS) status = 'error';\n\nreturn [{ json: { ...data, _poll_status: status, _poll_count: pollCount } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3620,
          300
        ],
        "id": "eval-poll-Lfra98zY",
        "name": "Evaluate Poll"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet errorMsg = 'Unknown API error';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  errorMsg = 'Code: ' + (input.code || 'N/A') + ', ' + (input.message || input.msg || JSON.stringify(input).substring(0, 300));\n} catch(e) { errorMsg = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger API',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: errorMsg,\n      error_code: '',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\ud83d\\udd34 API Error: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + errorMsg.substring(0, 500) + '\\n\\n\\u0412\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e \\u043a\\u0440\\u0435\\u0434\\u0438\\u0442\\u044b Kie.ai \\u0438\\u043b\\u0438 \\u0441\\u0435\\u0440\\u0432\\u0435\\u0440 \\u043d\\u0435\\u0434\\u043e\\u0441\\u0442\\u0443\\u043f\\u0435\\u043d';\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3100,
          700
        ],
        "id": "err-api-Lfra98zY",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const BOT_TOKEN = '{{BOT_TOKEN}}';\nconst ADMIN_CHAT_ID = '-1003757993095';\nconst mode = 'enhance';\nlet info = 'Generation failed';\nlet userId = 'unknown';\ntry {\n  const input = $input.first().json;\n  info = 'State: ' + (input.data?.state || input._poll_status || 'unknown') + ', Polls: ' + (input._poll_count || '?');\n} catch(e) { info = e.message; }\ntry { userId = $('Webhook').first().json.body.user_id || 'unknown'; } catch(e) {}\n\n// Send to error logging webhook (fire-and-forget)\ntry {\n  await fetch('https://{{DOMAIN}}/webhook/log-error', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      severity: 'auto',\n      category: 'generation',\n      source_workflow: $workflow.name,\n      source_endpoint: mode,\n      source_node: $prevNode?.name || 'Error Logger Poll',\n      user_id: userId !== 'unknown' ? userId : null,\n      error_message: info,\n      error_code: 'GENERATION_FAILED',\n      request_data: { mode }\n    })\n  });\n} catch(e) {}\n\n// Also send to admin Telegram\nconst text = '\\u274c Generation Failed: ' + mode + '\\n\\n\\ud83d\\udc64 User: ' + userId + '\\n\\ud83d\\udcdd ' + info.substring(0, 500);\ntry {\n  await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: ADMIN_CHAT_ID,\n      text: text,\n      parse_mode: 'HTML'\n    })\n  });\n} catch(e) {}\n\nreturn $input.all();"
        },
        "name": "Error Logger Poll",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4400,
          700
        ],
        "id": "err-poll-Lfra98zY",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          300
        ],
        "id": "validate-Lfra98zY",
        "name": "Validate initData"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "auth-check",
                "leftValue": "={{ $json._auth_valid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          760,
          300
        ],
        "id": "auth-if-Lfra98zY",
        "name": "Auth Valid?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
          "options": {
            "responseCode": 403
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          760,
          80
        ],
        "id": "unauth-Lfra98zY",
        "name": "Respond Unauthorized"
      },
      {
        "parameters": {
          "jsCode": "// Upload single photo from base64 to S3\nconst body = $('Webhook').first().json.body;\nconst photoBase64 = body.photo_base64;\nconst imageUrl = body.image_url;\nconst mimeType = body.mime_type || body.photo_mime_type || 'image/jpeg';\nconst userId = body.user_id;\n\n// If URL already provided (old path), pass through\nif (imageUrl) {\n  return [{ json: { image_url: imageUrl, needs_upload: false, user_id: userId } }];\n}\n\nif (!photoBase64) {\n  throw new Error('No image_url or photo_base64 in request');\n}\n\n// Clean base64\nconst base64Clean = photoBase64.includes(',') ? photoBase64.split(',')[1] : photoBase64;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst ext = mimeType.includes('png') ? 'png' : 'jpg';\nconst s3Filename = 'uploads/' + timestamp + '_' + randomStr + '_photo.' + ext;\nconst s3Url = 'https://avatar-bot-generations.s3.twcstorage.ru/' + s3Filename;\n\nconst buffer = Buffer.from(base64Clean, 'base64');\nconst binary = await this.helpers.prepareBinaryData(buffer, 'photo.' + ext, mimeType);\n\nreturn [{\n  json: { image_url: s3Url, s3_filename: s3Filename, needs_upload: true, user_id: userId },\n  binary: { data: binary }\n}];"
        },
        "id": "upload-1771837777056-236fd8",
        "name": "Upload Photo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          300
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "=avatar-bot-generations",
          "fileName": "={{ $json.s3_filename || \"uploads/temp.jpg\" }}",
          "additionalFields": {
            "acl": "public-read"
          }
        },
        "id": "s3-1771837777056-wdor5f",
        "name": "S3 Upload",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1800,
          300
        ],
        "credentials": {
          "s3": {
            "id": "{{S3_CRED_ID}}",
            "name": "Timeweb S3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Collect S3 URL after upload - only pass needed fields (no photo_base64!)\nconst uploadItem = $('Upload Photo').first();\nconst body = $('Webhook').first().json.body;\n\nreturn [{ json: {\n  image_url: uploadItem.json.image_url,\n  user_id: body.user_id,\n  chat_id: body.chat_id,\n  initData: body.initData\n} }];"
        },
        "id": "collect-1771837777056-5tu9rr",
        "name": "Collect URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2060,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendDocument",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: String($('Prepare Send').first().json.user_id), document: $('Prepare Send').first().json.media_url, caption: $('Prepare Send').first().json.caption + '\\n\\n📄 Файл в полном качестве' }, ($json.result || {}).message_thread_id ? { message_thread_id: ($json.result || {}).message_thread_id } : {})) }}",
          "options": {
            "timeout": 30000
          }
        },
        "name": "Send Document to Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6480,
          200
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "id": "b504ee15-1c09-4b63-81a4-692bed80645a",
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "id": "4bcaf12d-6fe5-4287-87a4-3ef6bc669feb",
        "name": "Calc Actual Cost",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7260,
          500
        ],
        "parameters": {
          "jsCode": "const freeLeft = $('Check Balance').first().json.free_left;\nconst actualCost = freeLeft > 0 ? 0 : 8;\nconst userId = $('Webhook').first().json.body.user_id;\nreturn [{json: { actual_cost: actualCost, ref_user_id: userId, ref_mode: 'enhance' }}];"
        }
      },
      {
        "id": "c6bb78a8-9e04-4953-8a3a-a0a91c3e413e",
        "name": "Was Paid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          7520,
          500
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-paid-1",
                "leftValue": "={{ $json.actual_cost }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "d15c019b-cccf-4229-99bd-7ed7ec3cea16",
        "name": "Apply Referral Commission",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          7780,
          500
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=WITH commissions AS (\n  SELECT * FROM apply_referral_commission({{ $json.ref_user_id }}, {{ $json.actual_cost }}, '{{ $json.ref_mode }}')\n), ref_info AS (\n  SELECT username FROM users WHERE id = {{ $json.ref_user_id }}\n)\nSELECT c.parent_id, c.level, c.commission, COALESCE(r.username, '') AS ref_username\nFROM commissions c, ref_info r;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "91206b7d-2823-4dd0-ab96-f9d5f7462d88",
        "name": "Notify Referral Earnings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          8040,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $json.parent_id }}"
              },
              {
                "name": "text",
                "value": "=💰 Реферальный доход!\nПартнёр {{ $json.level }}-го уровня{{ $json.ref_username ? ' (@' + $json.ref_username + ')' : '' }} воспользовался генерацией.\nНачислено: <b>+{{ $json.commission }} ⭐</b>"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate initData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Balance": {
        "main": [
          [
            {
              "node": "Has Balance?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Balance?": {
        "main": [
          [
            {
              "node": "Upload Photo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond No Balance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Result": {
        "main": [
          [
            {
              "node": "Is OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is OK?": {
        "main": [
          [
            {
              "node": "Get User Topic",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduct Stars": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Generation": {
        "main": [
          [
            {
              "node": "Deduct Stars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Topic": {
        "main": [
          [
            {
              "node": "Prepare Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Topic": {
        "main": [
          [
            {
              "node": "Finalize Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Send": {
        "main": [
          [
            {
              "node": "Need Topic?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Topic": {
        "main": [
          [
            {
              "node": "Save Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Telegram": {
        "main": [
          [
            {
              "node": "Send Document to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Need Topic?": {
        "main": [
          [
            {
              "node": "Create Topic",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize Send": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Kie Request": {
        "main": [
          [
            {
              "node": "Create Kie Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Kie Task": {
        "main": [
          [
            {
              "node": "Task Created?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Created?": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Poll Kie Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Kie Status": {
        "main": [
          [
            {
              "node": "Evaluate Poll",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Success?": {
        "main": [
          [
            {
              "node": "Check Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Failed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Failed?": {
        "main": [
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Logger Poll",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Poll": {
        "main": [
          [
            {
              "node": "Is Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate initData": {
        "main": [
          [
            {
              "node": "Auth Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Valid?": {
        "main": [
          [
            {
              "node": "Check Balance",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Photo": {
        "main": [
          [
            {
              "node": "S3 Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "S3 Upload": {
        "main": [
          [
            {
              "node": "Collect URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect URL": {
        "main": [
          [
            {
              "node": "Prepare Kie Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Document to Telegram": {
        "main": [
          [
            {
              "node": "Save Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calc Actual Cost": {
        "main": [
          [
            {
              "node": "Was Paid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was Paid?": {
        "main": [
          [
            {
              "node": "Apply Referral Commission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Referral Commission": {
        "main": [
          [
            {
              "node": "Notify Referral Earnings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond OK": {
        "main": [
          [
            {
              "node": "Calc Actual Cost",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Роман Махметов",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-25T18:10:07.549Z",
        "id": 2372,
        "workflowId": "Lfra98zYiGA0yKmD",
        "versionId": "ab740475-9283-4f59-90c5-d6d0e2e06e9c",
        "event": "deactivated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      },
      {
        "createdAt": "2026-02-25T18:10:07.583Z",
        "id": 2373,
        "workflowId": "Lfra98zYiGA0yKmD",
        "versionId": "ab740475-9283-4f59-90c5-d6d0e2e06e9c",
        "event": "activated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    ]
  }
}