avatar-bot-deploy/workflows/user-status.json
{
  "name": "[MINIAPP] user-status",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -192
      ],
      "id": "9601f2f0-0d9f-4cef-abe3-a9c1641bd075",
      "name": "user-status",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO users (id, username, star_balance, created_at)\nVALUES (\n  '{{ $json.body.user_id }}',\n  '{{ $json.body.username }}',\n  50,\n  NOW()\n)\nON CONFLICT (id) DO UPDATE SET\n  username = COALESCE(NULLIF(EXCLUDED.username, ''), users.username),\n  star_balance = COALESCE(users.star_balance, 50);\n\nUPDATE users SET\n  free_stylize = 1,\n  free_remove_bg = 1,\n  free_enhance = 1,\n  free_reset_date = CURRENT_DATE\nWHERE id = '{{ $json.body.user_id }}'\n  AND (free_reset_date IS NULL OR free_reset_date < CURRENT_DATE);\n\nSELECT id,\n  COALESCE(free_stylize, 0) as free_stylize,\n  COALESCE(free_remove_bg, 0) as free_remove_bg,\n  COALESCE(free_enhance, 0) as free_enhance,\n  COALESCE(star_balance, 0) as star_balance,\n  COALESCE(blocked, FALSE) as blocked\nFROM users WHERE id = '{{ $json.body.user_id }}';\n\nUPDATE users SET referred_by = '{{ $json.body.referred_by }}'\nWHERE id = '{{ $json.body.user_id }}'\n  AND referred_by IS NULL\n  AND '{{ $json.body.referred_by }}' != ''\n  AND '{{ $json.body.referred_by }}' != 'undefined';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        16
      ],
      "id": "46339b6c-daff-42a5-90da-8e30d52d6ba0",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CRED_ID}}",
          "name": "avatar_bot"
        }
      },
      "continueOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        16
      ],
      "id": "17963390-efd6-419e-8eba-24ce1fa605af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -432
      ],
      "id": "validate-FqO0ER3e",
      "name": "Validate initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json._auth_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        -432
      ],
      "id": "auth-if-FqO0ER3e",
      "name": "Auth Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        -160
      ],
      "id": "unauth-FqO0ER3e",
      "name": "Respond Unauthorized"
    }
  ],
  "connections": {
    "user-status": {
      "main": [
        [
          {
            "node": "Validate initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate initData": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "activeVersionId": "02230c64-9bfb-4eb1-befd-22223516413b",
  "versionCounter": 147,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-08T19:22:17.575Z",
      "createdAt": "2026-02-08T19:22:17.575Z",
      "role": "workflow:owner",
      "workflowId": "FqO0ER3eF7GgbESNhfC9C",
      "projectId": "UnFAqkOZkFc92cC9",
      "project": {
        "updatedAt": "2026-01-19T08:59:40.920Z",
        "createdAt": "2026-01-19T07:34:37.219Z",
        "id": "UnFAqkOZkFc92cC9",
        "name": "Роман Махметов <2356592g@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T04:02:59.268Z",
    "createdAt": "2026-02-24T04:02:59.268Z",
    "versionId": "02230c64-9bfb-4eb1-befd-22223516413b",
    "workflowId": "FqO0ER3eF7GgbESNhfC9C",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "user-status",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -416,
          -192
        ],
        "id": "9601f2f0-0d9f-4cef-abe3-a9c1641bd075",
        "name": "user-status",
        "webhookId": "a4d902e4-eb42-4723-a297-cebca2ef1b0d",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO users (id, username, star_balance, created_at)\nVALUES (\n  '{{ $json.body.user_id }}',\n  '{{ $json.body.username }}',\n  50,\n  NOW()\n)\nON CONFLICT (id) DO UPDATE SET\n  username = COALESCE(NULLIF(EXCLUDED.username, ''), users.username),\n  star_balance = COALESCE(users.star_balance, 50);\n\nUPDATE users SET\n  free_stylize = 1,\n  free_remove_bg = 1,\n  free_enhance = 1,\n  free_reset_date = CURRENT_DATE\nWHERE id = '{{ $json.body.user_id }}'\n  AND (free_reset_date IS NULL OR free_reset_date < CURRENT_DATE);\n\nSELECT id,\n  COALESCE(free_stylize, 0) as free_stylize,\n  COALESCE(free_remove_bg, 0) as free_remove_bg,\n  COALESCE(free_enhance, 0) as free_enhance,\n  COALESCE(star_balance, 0) as star_balance,\n  COALESCE(blocked, FALSE) as blocked\nFROM users WHERE id = '{{ $json.body.user_id }}';\n\nUPDATE users SET referred_by = '{{ $json.body.referred_by }}'\nWHERE id = '{{ $json.body.user_id }}'\n  AND referred_by IS NULL\n  AND '{{ $json.body.referred_by }}' != ''\n  AND '{{ $json.body.referred_by }}' != 'undefined';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -192,
          16
        ],
        "id": "46339b6c-daff-42a5-90da-8e30d52d6ba0",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "{{POSTGRES_CRED_ID}}",
            "name": "avatar_bot"
          }
        },
        "continueOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          48,
          16
        ],
        "id": "17963390-efd6-419e-8eba-24ce1fa605af",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "jsCode": "// Telegram initData HMAC-SHA256 validation — pure JS (no crypto module needed)\nconst BOT_TOKEN = '{{BOT_TOKEN}}';\nconst MAX_AGE = 86400;\n\n// ---- Pure JS SHA-256 ----\nfunction _sha256(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const m = Array.from(data), l = m.length * 8;\n  m.push(0x80);\n  while (m.length % 64 !== 56) m.push(0);\n  m.push(0,0,0,0,(l>>>24)&0xff,(l>>>16)&0xff,(l>>>8)&0xff,l&0xff);\n  for (let o = 0; o < m.length; o += 64) {\n    const W = [];\n    for (let i=0;i<16;i++) W[i]=(m[o+i*4]<<24)|(m[o+i*4+1]<<16)|(m[o+i*4+2]<<8)|m[o+i*4+3];\n    for (let i=16;i<64;i++){\n      const s0=((W[i-15]>>>7)|(W[i-15]<<25))^((W[i-15]>>>18)|(W[i-15]<<14))^(W[i-15]>>>3);\n      const s1=((W[i-2]>>>17)|(W[i-2]<<15))^((W[i-2]>>>19)|(W[i-2]<<13))^(W[i-2]>>>10);\n      W[i]=(W[i-16]+s0+W[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+W[i])|0;\n      const S0=((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=[];\n  for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])r.push((v>>>24)&0xff,(v>>>16)&0xff,(v>>>8)&0xff,v&0xff);\n  return r;\n}\nfunction _hmac(keyB, msgB) {\n  let k = Array.from(keyB);\n  if(k.length>64) k=_sha256(k);\n  while(k.length<64) k.push(0);\n  const ip=k.map(b=>b^0x36), op=k.map(b=>b^0x5c);\n  return _sha256(op.concat(_sha256(ip.concat(Array.from(msgB)))));\n}\nfunction _s2b(s){const b=[];for(let i=0;i<s.length;i++){let c=s.charCodeAt(i);if(c<0x80){b.push(c);}else if(c<0x800){b.push(0xC0|(c>>6),0x80|(c&0x3F));}else if(c>=0xD800&&c<=0xDBFF){const h=c,l=s.charCodeAt(++i),p=((h-0xD800)<<10)+(l-0xDC00)+0x10000;b.push(0xF0|(p>>18),0x80|((p>>12)&0x3F),0x80|((p>>6)&0x3F),0x80|(p&0x3F));}else{b.push(0xE0|(c>>12),0x80|((c>>6)&0x3F),0x80|(c&0x3F));}}return b;}\nfunction _hex(bytes){return bytes.map(b=>b.toString(16).padStart(2,'0')).join('');}\n// ---- End SHA-256 ----\n\nconst body = ($input.first().json.body) || {};\nconst initData = body.init_data || '';\n\nif (!initData) {\n  return [{json: {...$input.first().json, _auth_valid: false}}];\n}\n\ntry {\n  // Parse URL query string\n  const params = {};\n  for (const pair of initData.split('&')) {\n    const idx = pair.indexOf('=');\n    if (idx === -1) continue;\n    params[decodeURIComponent(pair.slice(0, idx))] = decodeURIComponent(pair.slice(idx + 1));\n  }\n\n  if (!params.hash) throw new Error('no hash');\n  if (!params.auth_date) throw new Error('no auth_date');\n  if (!params.user) throw new Error('no user');\n\n  // Validate auth_date freshness\n  const authDate = Number(params.auth_date);\n  if (!authDate || authDate < 1000000000) throw new Error('invalid auth_date');\n  const age = Math.floor(Date.now() / 1000) - authDate;\n  if (age > MAX_AGE) throw new Error('expired');\n  if (age < -300) throw new Error('future auth_date');\n\n  // HMAC-SHA256 verification (pure JS)\n  const checkString = Object.keys(params).filter(k => k !== 'hash').sort().map(k => k + '=' + params[k]).join('\\n');\n  const secret = _hmac(_s2b('WebAppData'), _s2b(BOT_TOKEN));\n  const computed = _hex(_hmac(secret, _s2b(checkString)));\n  if (computed !== params.hash) throw new Error('bad hash');\n\n  // Validate user\n  let user = {};\n  try { user = JSON.parse(params.user); } catch(e) { throw new Error('invalid user json'); }\n  if (!user.id) throw new Error('no user.id');\n\n  const reqUserId = String(body.user_id || '');\n  if (reqUserId && String(user.id) !== reqUserId) {\n    throw new Error('user mismatch: ' + user.id + ' vs ' + reqUserId);\n  }\n\n  return [{json: {...$input.first().json, _auth_valid: true}}];\n} catch(e) {\n  console.error('initData validation failed:', e.message);\n  return [{json: {...$input.first().json, _auth_valid: false, _auth_error: e.message}}];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -224,
          -432
        ],
        "id": "validate-FqO0ER3e",
        "name": "Validate initData"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "auth-check",
                "leftValue": "={{ $json._auth_valid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          144,
          -432
        ],
        "id": "auth-if-FqO0ER3e",
        "name": "Auth Valid?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"error\": \"unauthorized\", \"message\": \"Invalid or missing Telegram initData\"}",
          "options": {
            "responseCode": 403
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          352,
          -160
        ],
        "id": "unauth-FqO0ER3e",
        "name": "Respond Unauthorized"
      }
    ],
    "connections": {
      "user-status": {
        "main": [
          [
            {
              "node": "Validate initData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate initData": {
        "main": [
          [
            {
              "node": "Auth Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Valid?": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Роман Махметов",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-24T04:02:59.309Z",
        "id": 2136,
        "workflowId": "FqO0ER3eF7GgbESNhfC9C",
        "versionId": "02230c64-9bfb-4eb1-befd-22223516413b",
        "event": "deactivated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      },
      {
        "createdAt": "2026-02-24T04:02:59.322Z",
        "id": 2137,
        "workflowId": "FqO0ER3eF7GgbESNhfC9C",
        "versionId": "02230c64-9bfb-4eb1-befd-22223516413b",
        "event": "activated",
        "userId": "7b9f38f0-0dfe-404a-a677-ba540bbf50c1"
      }
    ]
  }
}